.upDownButtons {
  --swui-stepper-button-focus-shadow: var(--swui-field-focus-shadow);
  --swui-stepper-button-width: 25px;
  align-self: stretch;

  .button {
    width: var(--swui-stepper-button-width);
    border: none;
    cursor: pointer;
    flex: 1;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      box-shadow: var(--swui-stepper-button-focus-shadow);
    }

    &:disabled {
      background-color: var(--swui-textinput-bg-color-disabled);
    }
  }
}
