.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--swui-border-radius);
  padding: var(--swui-metrics-spacing) calc(var(--swui-metrics-spacing) * 2);


  &.withIcon {
    padding: calc(var(--swui-metrics-spacing) * 0.5);
    padding-right: calc(var(--swui-metrics-spacing) * 2);
  }
}


.iconWrapper {
  /* State vars */
  --current-bg-color: transparent;
  --current-border-color: var(--lhds-color-ui-50);
  --current-icon-color: var(--lhds-color-ui-50);

  /* Styling */
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  background-color: var(--current-bg-color);
  border: 1px solid var(--current-border-color);
  border-radius: var(--swui-border-radius);
  padding: calc(var(--swui-metrics-spacing) * 0.5);
  height: 16px;
  align-items: flex-start;

  svg {
    color: var(--current-icon-color);
  }

  &.info {
    --current-border-color: var(--lhds-color-blue-300);
    --current-bg-color: var(--lhds-color-blue-100);
    --current-icon-color: var(--lhds-color-blue-700);
  }

  &.warning {
    --current-border-color: var(--lhds-color-orange-300);
    --current-bg-color: var(--lhds-color-orange-100);
    --current-icon-color: var(--lhds-color-orange-700);
  }

  &.error {
    --current-border-color: var(--lhds-color-red-300);
    --current-bg-color: var(--lhds-color-red-100);
    --current-icon-color: var(--lhds-color-red-700);
  }
}