.label {
  --swui-label-background-color: #2378cd;
  --swui-label-border-color: #2378cd;
  --swui-label-border-radius: var(
    --swui-field-border-radius
  ); /* TODO: Change to correct border radius variable */
  --swui-label-color: #fbfbfc;
  --swui-label-padding: calc(var(--swui-metrics-space) / 2)
    var(--swui-metrics-space);
  --swui-label-font-size: 12px;

  background-color: var(--swui-label-background-color);
  border: 1px solid var(--swui-label-border-color);
  border-radius: var(--swui-label-border-radius);
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  height: 24px;
  box-sizing: border-box;

  color: var(--swui-label-color);
  font-size: var(--swui-label-font-size);
  padding: var(--swui-label-padding);
  letter-spacing: -0.2px;
}
