.radioButtonBox {
  --swui-radio-button-box-background: var(--lhds-color-ui-200);
  --swui-radio-button-box-background-danger: var(--snackskal-light);

  --swui-radio-button-box-border-color: var(--snackskal-light);
  --swui-radio-button-box-border-color-hover: var(--hav);
  --swui-radio-button-box-border-color-danger: var(--snackskal-light);
  --swui-radio-button-box-border-color-danger-hover: var(--lhds-color-red-500);

  --current-border-color: var(--swui-radio-button-box-border-color);

  box-sizing: border-box;
  background-color: var(--swui-radio-button-box-background);
  position: relative;
  border: 1px solid var(--current-border-color);
  width: 100%;
  border-radius: 16px;
  padding: var(--swui-metrics-space);
  font-size: var(--swui-font-size-inputs);
  align-items: center;
  display: flex;
  cursor: pointer;
  outline: none;

  &:hover {
    --current-border-color: var(--swui-radio-button-box-border-color-hover);
  }

  &.danger {
    background-color: var(--swui-radio-button-box-background-danger);
    --current-border-color: var(--swui-radio-button-box-border-color-danger);

    &:hover {
      --current-border-color: var(
        --swui-radio-button-box-border-color-danger-hover
      );
    }
  }
}

@media (max-width: 768px) {
  .radioButtonWrapper {
    width: 100%;
  }
}
