.radioButtonBox {
  box-sizing: border-box;
  background-color: var(--lhds-color-ui-200);
  position: relative;
  border: 1px solid var(--silver-ui);
  width: 100%;
  border-radius: 16px;
  padding: var(--swui-metrics-space);
  font-size: var(--swui-font-size-inputs);
  align-items: center;
  display: flex;
  cursor: pointer;
  outline: none;

  &:hover {
    border-color: var(--hav);
  }

  &.danger {
    background-color: var(--snackskal-light);
    border-color: var(--snackskal-light);

    &:hover {
      border-color: var(--lhds-color-red-500);
    }
  }
}

@media (max-width: 768px) {
  .radioButtonWrapper {
    width: 100%;
  }
}
