.resultList {
  margin: 0;
  padding-inline-start: 20px;
  padding-inline-end: 0;
  padding-bottom: var(--swui-metrics-spacing);

  li:not(:last-child) {
    margin-bottom: calc(var(--swui-metrics-spacing));
  }
}
