.textInputButton {
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: var(--swui-border-radius-small);
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;

  &.normal {
    background: var(--himmel-lighter);

    &:hover,
    &:active {
      background: var(--himmel);
    }

    .icon {
      color: var(--core-blue);
    }
  }

  &.error {
    background: var(--snackskal-light);

    &:hover,
    &:active {
      background: var(--snackskal);
    }

    .icon {
      color: var(--modern-red);
    }
  }

  &.warning {
    background: var(--lhds-color-orange-200);

    &:hover,
    &:active {
      background: var(--lhds-color-orange-300);
    }

    .icon {
      color: var(--tjara);
    }
  }

  &:focus-visible {
    outline: var(--swui-focus-outline);
  }
}
