.textInput {
  display: flex;
  height: var(--swui-field-height);
  width: 100%;
  align-items: center;
  background: var(--swui-field-bg-enabled);
  border: 1px solid var(--swui-field-border-color);
  border-radius: var(--swui-field-border-radius);
  outline: none;

  &&.onlyTop {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
    &:focus-within:not(.disabled) {
      z-index: 1;
    }
  }

  &&.onlyBottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    &:focus-within:not(.disabled) {
      z-index: 1;
    }
  }

  &&.onlyLeft {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;
    &:focus-within:not(.disabled) {
      z-index: 1;
    }
  }

  &&.onlyRight {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:focus-within:not(.disabled) {
      z-index: 1;
    }
  }

  &&:focus-within:not(.disabled) {
    outline: var(--swui-focus-outline);
    border-color: transparent;
  }

  .input {
    letter-spacing: var(--swui-field-letter-spacing);
    line-height: var(--swui-field-text-line-height);
    width: 100%;
    padding: 2px var(--swui-metrics-indent);
    color: var(--swui-field-text-color);
    font-size: var(--swui-font-size-inputs);
    font-family: var(--swui-font-input);
    font-weight: var(--swui-font-weight-inputs);
    background: var(--swui-hidden);
    border: none;
    min-width: 0; /* https://stackoverflow.com/a/43361500 */
    margin: 0; /* Safari */
    outline: none;

    &:disabled {
      color: var(--swui-field-text-color-disabled);
    }

    &::placeholder {
      color: var(--swui-field-placeholder-color);
      font-weight: var(--swui-field-placeholder-font-weight);
    }

    &:focus::placeholder {
      opacity: 0;
    }

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  .icon {
    transition: color var(--swui-animation-time-medium);
    color: var(--swui-field-icon-color);
    font-size: var(--swui-field-icon-size);
  }

  /*
   * States
   */

  &.standard,
  &.success {
    &:hover:not(:focus-within):not(.disabled) {
      border-color: var(--swui-field-border-color-hover);
    }
  }

  &.success {
    .icon {
      color: var(--swui-state-success-color);
    }
  }

  &.loading {
    background: var(--swui-state-loading-light-color);
    border-color: var(--swui-state-loading-color);
  }

  &.modified {
    background: var(--swui-state-modified-light-color);
    border-color: var(--swui-state-modified-light-color);

    .icon {
      color: var(--lhds-color-blue-300);
    }
  }

  &.error {
    background: var(--swui-state-error-light-color);
    border-color: var(--swui-state-error-light-color);

    .icon {
      color: var(--swui-state-error-light-color);
    }
  }

  &.warning {
    background: var(--swui-state-alert-light-color);
    border-color: var(--swui-state-alert-light-color);

    .icon {
      color: var(--swui-state-alert-light-color);
    }
  }

  &.disabled {
    background: var(--swui-field-bg-disabled);
    border-color: var(--swui-field-bg-disabled);
  }

  &&.hideBorder {
    border: none;
    box-shadow: none;
    background: none;
    outline: none;
  }

  .clickable:hover {
    cursor: pointer;

    .icon {
      color: var(--swui-primary-action-color);
    }
  }
}
