.calendar {
  --swui-calendar-day-width: 48px;
  --swui-calendar-day-height: 48px;
  --swui-calendar-day-border-radius: var(--swui-max-border-radius);

  /* Week number */

  --swui-calendar-week-number-bg-color: transparent;
  --swui-calendar-week-number-text-color: var(--lhds-color-ui-500);
  --swui-calendar-week-number-clickable-text-color: var(--lhds-color-ui-500);

  /* Week day */

  --swui-calendar-week-day-text-color: var(--lhds-color-ui-500);
  --swui-calendar-week-day-clickable-text-color: var(--lhds-color-ui-500);

  /* Wrapper */

  --swui-calendar-wrapper-selected-border: var(--modern-red);
  --swui-calendar-wrapper-selected-background: var(--modern-red);
  --swui-calendar-wrapper-range-border: var(--lhds-color-red-100);
  --swui-calendar-wrapper-range-background: var(--lhds-color-red-100);
  --swui-calendar-wrapper-today-border: var(--lhds-color-ui-200);
  --swui-calendar-wrapper-today-background: var(--lhds-color-ui-50);

  /* Text */

  --swui-calendar-text-selected-color: #fff;
  --swui-calendar-text-disabled-color: var(--swui-text-disabled-color);
  --swui-calendar-text-in-other-month-color: var(--swui-text-disabled-color);

  table {
    border-spacing: 0 4px;
  }

  tr td:last-child {
    border-top-right-radius: var(--swui-calendar-day-border-radius);
    border-bottom-right-radius: var(--swui-calendar-day-border-radius);
  }

  &.weekNumberVisible tr td:nth-child(2),
  &:not(.weekNumberVisible) tr td:first-child {
    border-top-left-radius: var(--swui-calendar-day-border-radius);
    border-bottom-left-radius: var(--swui-calendar-day-border-radius);
  }

  td {
    padding: 0;
    width: var(--swui-calendar-day-width);
    height: var(--swui-calendar-day-height);
  }
}
