.valueTable {
  /**
     * Theme vars
     */
  width: 100%;
  .row:not(:first-child) td {
    border-top: 1px solid var(--lhds-color-ui-300);
  }
  td {
    --current-spacing: 1.5;
    --current-indent: 0;
    padding: calc(var(--current-spacing) * var(--swui-metrics-spacing))
      calc(var(--current-indent) * var(--swui-metrics-indent));
  }
  tbody {
    vertical-align: top;
  }
}

.relaxed td {
  --current-spacing: 2;
}

.condensed td {
  --current-spacing: 1;
}

.compact td {
  --current-spacing: 0.5;
}
