.valueTable {
  /**
     * Theme vars
     */
  --swui-value-table-height: 40px;
  width: 100%;

  .row:not(:first-child) td {
    border-top: 1px solid var(--lhds-color-ui-300);
  }
}

.relaxed {
  --swui-value-table-height: 48px;
}

.condensed {
  --swui-value-table-height: 32px;
}

.compact {
  --swui-value-table-height: 24px;
}
