.buttonGroup {
  display: flex;
  margin: 8px;

  & > button {
    margin: 0;

    &:not(:only-child):not(:last-child) {
      border-right: 0;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
