.button {
  /* Theme vars */
  --swui-button-line-height: 1.6rem;
  --swui-button-font-weight: var(--swui-font-weight-text-bold);
  --swui-button-text-size: var(--swui-font-size-medium);
  --swui-button-text-color: var(--swui-white);
  --swui-button-text-decoration: none;
  --swui-button-letter-spacing: var(--swui-field-letter-spacing);
  --swui-button-padding-vertical: calc(var(--swui-metrics-spacing) - 1px);
  --swui-button-padding-horizontal: calc(var(--swui-metrics-spacing) * 2 - 1px);

  /* Text */
  --swui-button-text-color-focus: var(--swui-button-text-color);
  --swui-button-text-color-hover: var(--swui-button-text-color);
  --swui-button-text-color-active: var(--swui-button-text-color);
  --swui-button-text-color-disabled: var(--swui-text-disabled-color);

  --swui-button-danger-text-color: var(--swui-button-text-color);
  --swui-button-danger-text-color-focus: var(--swui-button-danger-text-color);
  --swui-button-danger-text-color-hover: var(--swui-button-danger-text-color);
  --swui-button-danger-text-color-active: var(--swui-button-danger-text-color);

  --swui-button-success-text-color: var(--swui-button-text-color);
  --swui-button-success-text-color-focus: var(--swui-button-success-text-color);
  --swui-button-success-text-color-hover: var(--swui-button-success-text-color);
  --swui-button-success-text-color-active: var(
    --swui-button-success-text-color
  );

  /* Icon */
  --swui-button-icon-height-small: 1.2rem;
  --swui-button-icon-height-small-icon-only: 1.2rem;
  --swui-button-icon-height-medium: 1.6rem;
  --swui-button-icon-height-medium-icon-only: 1.6rem;
  --swui-button-icon-height-large: 1.6rem;
  --swui-button-icon-height-large-icon-only: 2.4rem;

  --swui-button-icon-color: var(--swui-white);
  --swui-button-icon-color-focus: var(--swui-button-icon-color);
  --swui-button-icon-color-hover: var(--swui-button-icon-color);
  --swui-button-icon-color-active: var(--swui-button-icon-color);
  --swui-button-icon-color-disabled: var(--swui-text-disabled-color);

  --swui-button-danger-icon-color: var(--swui-button-icon-color);
  --swui-button-danger-icon-color-focus: var(--swui-button-danger-icon-color);
  --swui-button-danger-icon-color-hover: var(--swui-button-danger-icon-color);
  --swui-button-danger-icon-color-active: var(--swui-button-danger-icon-color);

  --swui-button-success-icon-color: var(--swui-button-icon-color);
  --swui-button-success-icon-color-focus: var(--swui-button-success-icon-color);
  --swui-button-success-icon-color-hover: var(--swui-button-success-icon-color);
  --swui-button-success-icon-color-active: var(
    --swui-button-success-icon-color
  );

  /* Icon only */
  --swui-button-icon-only-size-small: 24px;
  --swui-button-icon-only-size-medium: 32px;
  --swui-button-icon-only-size-large: 40px;
  --swui-button-border-radius-icon-only: var(--swui-border-radius);

  /* Background */
  --swui-button-background-color: var(--swui-primary-action-color);
  --swui-button-background-color-active: var(
    --swui-primary-action-color-active
  );
  --swui-button-background-color-focus: var(--swui-primary-action-color-focus);
  --swui-button-background-color-hover: var(--swui-primary-action-color-hover);
  --swui-button-background-color-disabled: var(
    --swui-primary-action-color-disabled
  );

  --swui-button-danger-background-color: var(--lhds-color-red-500);
  --swui-button-danger-background-color-active: var(--lhds-color-red-900);
  --swui-button-danger-background-color-focus: var(--lhds-color-red-700);
  --swui-button-danger-background-color-hover: var(--lhds-color-red-600);

  --swui-button-success-background-color: var(--lhds-color-green-600);
  --swui-button-success-background-color-active: var(--lhds-color-green-900);
  --swui-button-success-background-color-focus: var(--lhds-color-green-800);
  --swui-button-success-background-color-hover: var(--lhds-color-green-700);

  /* Border */
  --swui-button-border-color: var(--swui-button-background-color);
  --swui-button-border-radius: var(--swui-border-radius);
  --swui-button-border-color-focus: var(--swui-button-background-color-focus);
  --swui-button-border-color-hover: var(--swui-button-background-color-hover);
  --swui-button-border-color-active: var(--swui-button-background-color-active);
  --swui-button-border-color-disabled: var(
    --swui-button-background-color-disabled
  );
  --swui-button-danger-border-color: var(--swui-button-danger-background-color);
  --swui-button-danger-border-color-focus: var(
    --swui-button-danger-background-color-focus
  );
  --swui-button-danger-border-color-hover: var(
    --swui-button-danger-background-color-hover
  );
  --swui-button-danger-border-color-active: var(
    --swui-button-danger-background-color-active
  );

  --swui-button-success-border-color: var(
    --swui-button-success-background-color
  );
  --swui-button-success-border-color-focus: var(
    --swui-button-success-background-color-focus
  );
  --swui-button-success-border-color-hover: var(
    --swui-button-success-background-color-hover
  );
  --swui-button-success-border-color-active: var(
    --swui-button-success-background-color-active
  );

  /* Shadow */
  --swui-button-box-shadow-focus: 0 0 4px 0 var(--lhds-color-blue-300);
  --swui-button-box-shadow-hover: 0 1px 1px 1px rgba(29, 100, 171, 0.16),
    0 0 1px 0 rgba(29, 100, 171, 0.16);
  --swui-button-box-shadow: 0 1px 0 0 rgba(29, 100, 171, 0.08),
    0 0 1px -1px rgba(29, 100, 171, 0.1);
  --swui-button-box-shadow-active: none;
  --swui-button-box-shadow-disabled: none;

  /*
   * Styling
   */
  --current-background-color: var(--swui-button-background-color);
  --current-icon-height: var(--swui-button-icon-height-medium);
  --current-icon-color: var(--swui-button-icon-color);
  --current-text-color: var(--swui-button-text-color);
  --current-border-color: var(--swui-button-border-color);

  box-sizing: border-box;
  letter-spacing: var(--swui-button-letter-spacing);
  text-decoration: var(--swui-button-text-decoration);
  padding: var(--swui-button-padding-vertical)
    var(--swui-button-padding-horizontal);
  border: 1px solid var(--current-border-color);
  background-color: var(--current-background-color);
  border-radius: var(--swui-button-border-radius);
  box-shadow: var(--current-box-shadow, var(--swui-button-box-shadow));
  color: var(--current-text-color);
  font-size: var(--current-text-size, var(--swui-button-text-size));
  line-height: var(--current-line-height, var(--swui-button-line-height));
  font-weight: var(--swui-button-font-weight);
  font-family: var(--swui-font-buttons);
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.iconButton {
    --current-icon-height: var(--swui-button-icon-height-medium-icon-only);

    padding: var(--swui-button-padding-vertical);
    color: var(--current-icon-color);
    flex: none;

    border-radius: var(--swui-button-border-radius-icon-only);

    width: var(--swui-button-icon-only-size-medium);
    height: var(--swui-button-icon-only-size-medium);
    justify-content: center;
    align-items: center;
    display: flex;

    &.small {
      width: var(--swui-button-icon-only-size-small);
      height: var(--swui-button-icon-only-size-small);
    }

    &.large {
      width: var(--swui-button-icon-only-size-large);
      height: var(--swui-button-icon-only-size-large);
    }
  }

  /*
   * State and variants
   */

  &.small {
    --current-line-height: 1.6rem;
    --swui-button-padding-vertical: calc(var(--swui-metrics-space) / 2 - 1px);
    --swui-button-padding-horizontal: calc(var(--swui-metrics-space) - 1px);
    --current-text-size: 1.2rem;
    --current-icon-height: var(--swui-button-icon-height-small);

    &.iconButton {
      --current-icon-height: var(--swui-button-icon-height-small-icon-only);
    }
  }

  &.large {
    --current-line-height: 2.4rem;
    --swui-button-padding-vertical: calc(var(--swui-metrics-space) - 1px);
    --swui-button-padding-horizontal: calc(var(--swui-metrics-space) * 3 - 1px);
    --current-text-size: 1.6rem;
    --current-icon-height: var(--swui-button-icon-height-large);

    &.iconButton {
      --current-icon-height: var(--swui-button-icon-height-large-icon-only);
    }
  }

  &:hover {
    --current-background-color: var(--swui-button-background-color-hover);
    --current-border-color: var(--swui-button-border-color-hover);
    --current-icon-color: var(--swui-button-icon-color-hover);
    --current-text-color: var(--swui-button-text-color-hover);
    --current-box-shadow: var(--swui-button-box-shadow-hover);
  }

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    --current-background-color: var(--swui-button-background-color-focus);
    --current-border-color: var(--swui-button-border-color-focus);
    --current-icon-color: var(--swui-button-icon-color-focus);
    --current-text-color: var(--swui-button-text-color-focus);
    --current-box-shadow: var(--swui-button-box-shadow-focus);
  }

  &:active {
    --current-background-color: var(--swui-button-background-color-active);
    --current-border-color: var(--swui-button-border-color-active);
    --current-icon-color: var(--swui-button-icon-color-active);
    --current-text-color: var(--swui-button-text-color-active);
    --current-box-shadow: var(--swui-button-box-shadow-active);
  }

  &:disabled {
    --current-background-color: var(--swui-button-background-color-disabled);
    --current-border-color: var(--swui-button-border-color-disabled);
    --current-icon-color: var(--swui-button-icon-color-disabled);
    --current-text-color: var(--swui-button-text-color-disabled);
    --current-box-shadow: var(--swui-button-box-shadow-disabled);
    cursor: not-allowed;
  }

  &.normal {
  }

  &.danger:not(:disabled) {
    --current-background-color: var(--swui-button-danger-background-color);
    --current-border-color: var(--swui-button-danger-border-color);
    --current-text-color: var(--swui-button-danger-text-color);
    --current-icon-color: var(--swui-button-danger-icon-color);

    &:hover {
      --current-background-color: var(
        --swui-button-danger-background-color-hover
      );
      --current-border-color: var(--swui-button-danger-border-color-hover);
      --current-text-color: var(--swui-button-danger-text-color-hover);
      --current-icon-color: var(--swui-button-danger-icon-color-hover);
    }

    &:focus {
      outline: 0;
    }

    &:focus-visible {
      --current-background-color: var(
        --swui-button-danger-background-color-focus
      );
      --current-border-color: var(--swui-button-danger-border-color-focus);
      --current-text-color: var(--swui-button-danger-text-color-focus);
      --current-icon-color: var(--swui-button-danger-icon-color-focus);
    }

    &:active {
      --current-background-color: var(
        --swui-button-danger-background-color-active
      );
      --current-border-color: var(--swui-button-danger-border-color-active);
      --current-text-color: var(--swui-button-danger-text-color-active);
      --current-icon-color: var(--swui-button-danger-icon-color-active);
    }
  }

  &.success:not(:disabled) {
    --current-background-color: var(--swui-button-success-background-color);
    --current-border-color: var(--swui-button-success-border-color);
    --current-text-color: var(--swui-button-success-text-color);
    --current-icon-color: var(--swui-button-success-icon-color);

    &:hover {
      --current-background-color: var(
        --swui-button-success-background-color-hover
      );
      --current-border-color: var(--swui-button-success-border-color-hover);
      --current-text-color: var(--swui-button-success-text-color-hover);
      --current-icon-color: var(--swui-button-success-icon-color-hover);
    }

    &:focus {
      outline: 0;
    }

    &:focus-visible {
      --current-background-color: var(
        --swui-button-success-background-color-focus
      );
      --current-border-color: var(--swui-button-success-border-color-focus);
      --current-text-color: var(--swui-button-success-text-color-focus);
      --current-icon-color: var(--swui-button-success-icon-color-focus);
    }

    &:active {
      --current-background-color: var(
        --swui-button-success-background-color-active
      );
      --current-border-color: var(--swui-button-success-border-color-active);
      --current-text-color: var(--swui-button-success-text-color-active);
      --current-icon-color: var(--swui-button-success-icon-color-active);
    }
  }
}
