:root {
  /* Theme vars */
  --swui-flat-button-font-weight: var(--swui-font-weight-text-bold);

  /* Text color */
  --swui-flat-button-text-color: var(--swui-primary-action-color);
  --swui-flat-button-text-color-active: var(--swui-primary-action-color);
  --swui-flat-button-text-color-disabled: var(--swui-text-disabled-color);

  /* Background color */
  --swui-flat-button-background-color: transparent;
  --swui-flat-button-background-color-hover: var(--lhds-color-blue-50);
  --swui-flat-button-background-color-active: var(--lhds-color-blue-100);
  --swui-flat-button-background-color-focus: transparent;
  --swui-flat-button-background-color-disabled: transparent;

  /* Inverted */
  --swui-flat-button-text-color-inverted: var(--lhds-color-blue-200);
  --swui-flat-button-text-color-inverted-active: var(--lhds-color-blue-200);
  --swui-flat-button-text-color-inverted-disabled: var(
    --swui-text-disabled-color
  );
  --swui-flat-button-background-inverted-color-focus: transparent;
  --swui-flat-button-background-inverted-color-disabled: transparent;

  --swui-flat-button-background-inverted-color-hover: var(
    --lhds-color-blue-800
  );
  --swui-flat-button-background-inverted-color-active: var(
    --lhds-color-blue-700
  );

  --swui-flat-box-shadow-focus: 0 0 4px 0 var(--lhds-color-blue-300);
}

.flatButton {
  /* PrimaryButton overrides */

  /* Text */
  --swui-button-font-weight: var(--swui-flat-button-font-weight);
  --swui-button-text-color: var(--swui-flat-button-text-color);
  --swui-button-text-color-active: var(--swui-flat-button-text-color-active);
  --swui-button-text-color-disabled: var(
    --swui-flat-button-text-color-disabled
  );

  /* Background */
  --swui-button-background-color: var(--swui-flat-button-background-color);
  --swui-button-background-color-hover: var(
    --swui-flat-button-background-color-hover
  );
  --swui-button-background-color-focus: var(
    --swui-flat-button-background-color-focus
  );
  --swui-button-background-color-active: var(
    --swui-flat-button-background-color-active
  );
  --swui-button-background-color-disabled: var(
    --swui-flat-button-background-color-disabled
  );

  /* Border */
  --swui-button-border-color: transparent;
  --swui-button-border-color-hover: transparent;
  --swui-button-border-color-focus: transparent;
  --swui-button-border-color-active: transparent;
  --swui-button-border-color-disabled: transparent;
  --swui-button-border-radius-icon-only: 50%;

  /* Shadow */
  --swui-button-box-shadow: none;
  --swui-button-box-shadow-hover: none;
  --swui-button-box-shadow-focus: --swui-flat-box-shadow-focus;
  --swui-button-box-shadow-active: none;
  --swui-button-box-shadow-disabled: none;

  &.inverted {
    --swui-button-text-color: var(--swui-flat-button-text-color-inverted);
    --swui-button-text-color-active: var(
      --swui-flat-button-text-color-inverted-active
    );
    --swui-button-text-color-disabled: var(
      --swui-flat-button-text-color-inverted-disabled
    );

    /* Background */
    --swui-button-background-color: transparent;
    --swui-button-background-color-hover: var(
      --swui-flat-button-background-inverted-color-hover
    );
    --swui-button-background-color-focus: var(
      --swui-flat-button-background-inverted-color-focus
    );
    --swui-button-background-color-active: var(
      --swui-flat-button-background-inverted-color-active
    );
    --swui-button-background-color-disabled: var(
      --swui-flat-button-background-inverted-color-disabled
    );
  }
}
