.flatButton {
  color: var(--swui-text-action-color);
  background: transparent;
  border: 1px solid transparent;

  &:hover {
    background: var(--lhds-color-blue-100);
  }

  &:focus-visible {
    outline: var(--swui-focus-outline);
    background: transparent;
  }

  &:active {
    background: var(--lhds-color-blue-200);
  }

  &:disabled {
    background-color: transparent;
    border: 1px solid var(--swui-primary-action-color-disabled);
    color: var(--swui-text-disabled-color);
  }

  &.normal {
  }

  &.danger:not(:disabled) {
    color: var(--lhds-color-red-500);

    &:hover {
      background: var(--snackskal-light);
    }

    &:focus-visible {
      outline: var(--swui-focus-outline-width) solid var(--lhds-color-red-600);
    }

    &:active {
      background: var(--lhds-color-red-100);
    }
  }

  &.success:not(:disabled) {
    color: var(--lhds-color-green-800);

    &:hover {
      background: var(--lhds-color-green-50);
    }

    &:focus-visible {
      outline: var(--swui-focus-outline-width) solid var(--lhds-color-green-700);
    }

    &:active {
      background: var(--lhds-color-green-100);
    }
  }
}
