.button {
  --swui-button-line-height: 16px;
  --swui-button-text-size: 14px;
  --swui-button-text-color: #fff;
  --swui-button-background-color: var(--swui-color-blue-500);
  --swui-button-padding-vertical: var(--swui-metrics-spacing);
  --swui-button-padding-horizontal: calc(var(--swui-metrics-spacing) * 2);
  --swui-button-border-color: var(--swui-button-background-color);
  --swui-button-box-shadow: 0 1px 0 0 rgba(29, 100, 171, 0.08),
    0 0 1px -1px rgba(29, 100, 171, 0.1);
  --swui-button-border-radius: var(--swui-border-radius);

  --swui-button-background-color-focus: var(--swui-color-blue-700);
  --swui-button-border-color-focus: var(
    --current-background-color,
    var(--swui-button-background-color)
  );
  --swui-button-text-color-focus: var(--swui-button-text-color);
  --swui-button-box-shadow-focus: 0 0 4px 0 var(--swui-color-blue-300);

  --swui-button-background-color-hover: var(--swui-color-blue-600);
  --swui-button-border-color-hover: var(
    --current-background-color,
    var(--swui-button-background-color)
  );
  --swui-button-text-color-hover: var(--swui-button-text-color);
  --swui-button-box-shadow-hover: 0 1px 1px 1px rgba(29, 100, 171, 0.16),
    0 0 1px 0 rgba(29, 100, 171, 0.16);

  --swui-button-background-color-active: var(--swui-color-blue-800);
  --swui-button-border-color-active: var(
    --current-background-color,
    var(--swui-button-background-color)
  );
  --swui-button-text-color-active: var(--swui-button-text-color);
  --swui-button-box-shadow-active: none;

  --swui-button-background-color-disabled: var(--swui-color-ui-300-border);
  --swui-button-border-color-disabled: var(--swui-color-ui-400);
  --swui-button-text-color-disabled: var(--swui-color-ui-500);
  --swui-button-box-shadow-disabled: none;

  letter-spacing: -0.32px;
  padding: var(--swui-button-padding-vertical)
    var(--swui-button-padding-horizontal);
  border: 1px solid var(--current-border-color, var(--swui-button-border-color));
  background-color: var(
    --current-background-color,
    var(--swui-button-background-color)
  );
  border-radius: var(--swui-button-border-radius);
  box-shadow: var(--current-box-shadow, var(--swui-button-box-shadow));
  color: var(--current-text-color, var(--swui-button-text-color));
  font-size: var(--current-text-size, var(--swui-button-text-size));
  line-height: var(--current-line-height, var(--swui-button-line-height));
  font-weight: 400;
  font-family: var(--swui-font-buttons);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;

  &:hover {
    --current-background-color: var(--swui-button-background-color-hover);
    --current-border-color: var(--swui-button-border-color-hover);
    --current-text-color: var(--swui-button-text-color-hover);
    --current-box-shadow: var(--swui-button-box-shadow-hover);
  }

  &:focus {
    outline: 0;
    --current-background-color: var(--swui-button-background-color-focus);
    --current-border-color: var(--swui-button-border-color-focus);
    --current-text-color: var(--swui-button-text-color-focus);
    --current-box-shadow: var(--swui-button-box-shadow-focus);
  }

  &:active {
    --current-background-color: var(--swui-button-background-color-active);
    --current-border-color: var(--swui-button-border-color-active);
    --current-text-color: var(--swui-button-text-color-active);
    --current-box-shadow: var(--swui-button-box-shadow-active);
  }

  &:disabled {
    --current-background-color: var(--swui-button-background-color-disabled);
    --current-border-color: var(--swui-button-border-color-disabled);
    --current-text-color: var(--swui-button-text-color-disabled);
    --current-box-shadow: var(--swui-button-box-shadow-disabled);
    cursor: not-allowed;
  }

  &.iconButton {
    padding: var(--swui-button-padding-vertical);
    color: var(--current-text-color, var(--swui-button-text-color));

    .iconLeft,
    .iconRight {
      height: var(--current-line-height, var(--swui-button-line-height));
      width: var(--current-line-height, var(--swui-button-line-height));
    }
  }

  .iconLeft:not(:last-child) {
    margin-right: 8px;
  }

  .iconRight:not(:first-child) {
    margin-left: 8px;
  }

  &.small {
    --current-line-height: 16px;
    --swui-button-padding-vertical: 4px;
    --swui-button-padding-horizontal: 8px;
    --current-text-size: 12px;
  }

  &.large {
    --current-line-height: 24px;
    --swui-button-padding-vertical: 8px;
    --swui-button-padding-horizontal: 24px;
    --current-text-size: 16px;
  }
}
