.secondaryButton {
  border: 1px solid var(--lhds-color-blue-600);
  background-color: var(--swui-white);
  color: var(--swui-text-action-color);

  &:hover {
    background-color: var(--lhds-color-blue-50);
    border: 1px solid var(--lhds-color-blue-600);
  }

  &:focus-visible {
    background-color: var(--swui-white);
    border: 1px solid transparent;
    outline: var(--swui-focus-outline);
  }

  &:active {
    background-color: var(--lhds-color-blue-100);
    border: 1px solid var(--lhds-color-blue-500);
  }

  &:disabled {
    background-color: var(--lhds-color-ui-300);
    border: 1px solid var(--lhds-color-ui-300);
    color: var(--swui-text-disabled-color);
  }

  &.normal {
  }

  &.danger:not(:disabled) {
    color: var(--lhds-color-red-600);

    &:hover {
      background-color: var(--snackskal-light);
      border: 1px solid var(--lhds-color-red-400);
    }

    &:focus-visible {
      border: 1px solid transparent;
      outline: var(--swui-focus-outline-width) solid var(--lhds-color-red-600);
    }

    &:active {
      background-color: var(--lhds-color-red-100);
      border: 1px solid var(--lhds-color-red-500);
    }
  }

  &.success:not(:disabled) {
    color: var(--lhds-color-green-800);

    &:hover {
      background-color: var(--lhds-color-green-50);
      border: 1px solid var(--lhds-color-green-500);
    }

    &:focus-visible {
      border: 1px solid transparent;
      outline: var(--swui-focus-outline-width) solid var(--lhds-color-green-700);
    }

    &:active {
      background-color: var(--lhds-color-green-100);
      border: 1px solid var(--lhds-color-green-600);
    }
  }
}
