.secondaryButton {
  --swui-button-text-color: var(--swui-color-ui-700-icon);
  --swui-button-background-color: #fff;
  --swui-button-border-color: var(--swui-color-ui-400);
  --swui-button-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.056),
    0 0 1px -1px rgba(0, 0, 0, 0.1);

  --swui-button-background-color-hover: var(--swui-color-blue-50);
  --swui-button-border-color-hover: #3284de;
  --swui-button-box-shadow-hover: 0 1px 0 0 rgba(29, 100, 171, 0.16),
    0 1px 1px -1px rgba(29, 100, 171, 0.16);

  --swui-button-background-color-focus: #fff;
  --swui-button-border-color-focus: var(--swui-color-blue-500);
  --swui-button-box-shadow-focus: 0 0 4px 0 var(--swui-color-blue-300);

  --swui-button-background-color-active: var(--swui-color-blue-100);
  --swui-button-border-color-active: var(--swui-color-blue-500);
  --swui-button-text-color-active: #2877cd;
  --swui-button-box-shadow-active: none;

  --swui-button-background-color-disabled: var(--swui-color-ui-300-border);
  --swui-button-border-color-disabled: var(--swui-color-ui-400);
  --swui-button-text-color-disabled: var(--swui-color-ui-500);
  --swui-button-box-shadow-disabled: 0 1px 0 0 rgba(0, 0, 0, 0.056),
    0 1px 1px -1px rgba(0, 0, 0, 0.1);
}
