.secondaryButton {
  /* PrimaryButton overrides */

  /* Text */
  --swui-button-text-color: var(--lhds-color-ui-700);
  --swui-button-text-color-hover: var(--lhds-color-ui-700);
  --swui-button-text-color-focus: var(--lhds-color-ui-700);
  --swui-button-text-color-active: var(--lhds-color-blue-500);
  --swui-button-text-color-disabled: var(--lhds-color-ui-500);

  /* Background */
  --swui-button-background-color: var(--swui-white);
  --swui-button-background-color-hover: var(--lhds-color-blue-50);
  --swui-button-background-color-focus: var(--swui-white);
  --swui-button-background-color-active: var(--lhds-color-blue-100);
  --swui-button-background-color-disabled: var(--lhds-color-ui-300);

  /* Border */
  --swui-button-border-color: var(--lhds-color-ui-400);
  --swui-button-border-color-hover: var(--lhds-color-ui-400);
  --swui-button-border-color-focus: var(--lhds-color-blue-500);
  --swui-button-border-color-active: var(--lhds-color-blue-500);
  --swui-button-border-color-disabled: var(--lhds-color-ui-400);

  /* Shadow */
  --swui-button-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.056),
    0 0 1px -1px rgba(0, 0, 0, 0.1);
  --swui-button-box-shadow-hover: 0 1px 0 0 rgba(29, 100, 171, 0.16),
    0 1px 1px -1px rgba(29, 100, 171, 0.16);
  --swui-button-box-shadow-focus: 0 0 4px 0 var(--lhds-color-blue-300);
  --swui-button-box-shadow-active: none;
  --swui-button-box-shadow-disabled: 0 1px 0 0 rgba(0, 0, 0, 0.056),
    0 1px 1px -1px rgba(0, 0, 0, 0.1);
}
