.collapsible {
  --swui-collapsible-animation-time: var(--swui-animation-time-fast);

  --swui-collapsible-header-background-color: var(--swui-white);
  --swui-collapsible-header-background-color-hover: #f3f8fc;
  --swui-collapsible-header-border-color: #f1f2f4;
  --swui-collapsible-header-border-color-focus: var(
    --swui-primary-action-color
  );
  --swui-collapsible-header-content-margin: calc(
    var(--swui-metrics-indent) * 2
  );
  --swui-collapsible-header-font-weight: 600;
  --swui-collapsible-header-indicator-color: var(--swui-primary-action-color);
  --swui-collapsible-header-indicator-color-collapsed: #919296;
  --swui-collapsible-header-indicator-color-hover: var(
    --swui-primary-action-color
  );
  --swui-collapsible-header-padding: 0 calc(var(--swui-metrics-indent) * 2) 0;

  --swui-collapsible-content-background-color: #fbfbfc;
  --swui-collapsible-content-border-color: #f1f2f4;
  --swui-collapsible-content-padding: var(--swui-metrics-indent)
    calc(var(--swui-metrics-indent) * 2);

  --swui-collapsible-groupheading-font-size: var(--swui-font-size-small);
  --swui-collapsible-groupheading-color: #9b9eab;

  --swui-collapsible-min-height: 40px;

  /* Header */

  .header {
    background-color: var(--swui-collapsible-header-background-color);
    width: 100%;
    font-size: inherit;
    font-family: var(--swui-font-primary);
    font-weight: var(--swui-collapsible-header-font-weight);

    /** Needed for ::after focus element */
    position: relative;

    min-height: var(--swui-collapsible-min-height);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--swui-collapsible-header-border-color);
    padding: var(--swui-collapsible-header-padding);

    .indicator {
      transition: all var(--swui-collapsible-animation-time) ease-in-out;
      margin-left: var(--swui-collapsible-header-content-margin);
      color: var(--swui-collapsible-header-indicator-color);
    }

    &:not(:disabled):hover {
      background-color: var(--swui-collapsible-header-background-color-hover);

      .indicator {
        color: var(--swui-collapsible-header-indicator-color-hover);
      }
    }

    &:focus {
      background: var(--swui-collapsible-header-background-color-hover);

      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background: var(--swui-collapsible-header-border-color-focus);
        right: 0;
      }
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &[aria-expanded="false"] {
    .indicator {
      color: var(--swui-collapsible-header-indicator-color-collapsed);
    }
  }

  .label {
    margin-right: auto;
  }

  .contentLeft,
  .contentRight {
    display: flex;

    button {
      cursor: pointer;
    }
  }

  .contentLeft {
    margin-right: var(--swui-collapsible-header-content-margin);
  }

  .contentRight {
    margin-left: auto;
  }

  /* Content */

  .content {
    display: flex;
    align-items: center;
    justify-content: stretch;
    background: var(--swui-collapsible-content-background-color);
    padding: var(--swui-collapsible-content-padding);
    min-height: var(--swui-collapsible-min-height);
    box-sizing: border-box;

    &:last-child {
      border-bottom: 1px solid var(--swui-collapsible-content-border-color);
    }

    &.groupHeading {
      border: none;
      font-size: var(--swui-collapsible-groupheading-font-size);
      color: var(--swui-collapsible-groupheading-color);
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;

      &:not(:first-child) {
        border-top: 1px solid var(--swui-collapsible-content-border-color);
      }
    }

    &Enter {
      opacity: 0;
    }

    &EnterActive {
      opacity: 1;
      transition: opacity var(--swui-collapsible-animation-time) ease-in-out;
    }

    &ExitDone {
      display: none;
    }

    [data-hidden="true"] {
      display: none;
    }

    &:hover {
      [data-hidden="true"] {
        display: inherit;
      }

      [data-hover="true"] {
        color: var(--swui-collapsible-header-indicator-color-hover);
      }
    }
  }

  /** Clickable content */
  button.content {
    font-size: inherit;
    width: 100%;

    /** Needed for ::after focus element */
    position: relative;

    &:focus {
      background: var(--swui-collapsible-header-background-color-hover);

      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background: var(--swui-collapsible-header-border-color-focus);
        right: 0;
      }
    }

    &:not(:disabled):hover {
      background-color: var(--swui-collapsible-header-background-color-hover);
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:focus-within {
      [data-hidden="true"] {
        display: inherit;
      }
    }
  }

  /* Remove header background color if not at the highest level */
  & & {
    --swui-collapsible-header-background-color: var(
      --swui-collapsible-content-background-color
    );
    --swui-collapsible-header-font-weight: normal;
  }

  /* Increase padding with depth */

  & & {
    --swui-collapsible-content-padding: var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 2) var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 4);
  }

  & & & {
    --swui-collapsible-header-padding: 0 calc(var(--swui-metrics-indent) * 2) 0
      calc(var(--swui-metrics-indent) * 4);
    --swui-collapsible-content-padding: var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 2) var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 6);
  }

  & & & & {
    --swui-collapsible-header-padding: 0 calc(var(--swui-metrics-indent) * 2) 0
      calc(var(--swui-metrics-indent) * 6);
    --swui-collapsible-content-padding: var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 2) var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 8);
  }

  & & & & & {
    --swui-collapsible-header-padding: 0 calc(var(--swui-metrics-indent) * 2) 0
      calc(var(--swui-metrics-indent) * 8);
    --swui-collapsible-content-padding: var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 2) var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 10);
  }
}
