.collapsible {
  --swui-collapsible-animation-time: var(--swui-animation-time-fast);

  --swui-collapsible-header-bg-color: var(--swui-white);
  --swui-collapsible-header-bg-color-hover: #f3f8fc;

  --swui-collapsible-header-border-color: #f1f2f4;
  --swui-collapsible-header-border-color-focus: #3872c5;

  --swui-collapsible-header-chevron-color: #919296;
  --swui-collapsible-header-chevron-color-collapsed: #3872c5;

  --swui-collapsible-header-padding: 0 16px 0;
  --swui-collapsible-header-content-margin: 16px;
  --swui-collapsible-header-font-weight: 600;

  --swui-collapsible-content-bg-color: #fbfbfc;
  --swui-collapsible-content-border-color: #f1f2f4;
  --swui-collapsible-content-padding: 8px 16px;

  --swui-collapsible-groupheading-font-size: 10px;
  --swui-collapsible-groupheading-color: #9b9eab;

  /** Remove header background color if not at the highest level */
  & & {
    --swui-collapsible-header-bg-color: var(
      --swui-collapsible-content-bg-color
    );
    --swui-collapsible-header-font-weight: normal;
  }

  .header {
    background-color: var(--swui-collapsible-header-bg-color);
    width: 100%;
    font-size: inherit;
    font-family: var(--swui-font-primary);
    font-weight: var(--swui-collapsible-header-font-weight);
    position: relative;

    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--swui-collapsible-header-border-color);
    padding: var(--swui-collapsible-header-padding);

    .chevron {
      transition: all var(--swui-collapsible-animation-time) ease-in-out;
      margin-left: var(--swui-collapsible-header-content-margin);
    }

    &:not(:disabled):hover {
      background-color: var(--swui-collapsible-header-bg-color-hover);
    }

    &:focus {
      background: var(--swui-collapsible-header-bg-color-hover);

      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background: var(--swui-collapsible-header-border-color-focus);
        right: 0;
      }
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .label {
    margin-right: auto;
  }

  .contentLeft {
    margin-right: var(--swui-collapsible-header-content-margin);
  }

  .contentRight {
    margin-left: var(--swui-collapsible-header-content-margin);
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--swui-collapsible-content-bg-color);
    border-bottom: 1px solid var(--swui-collapsible-content-border-color);
    padding: var(--swui-collapsible-content-padding);
    height: 40px;
    box-sizing: border-box;

    &.groupHeading {
      border: none;
      font-size: var(--swui-collapsible-groupheading-font-size);
      color: var(--swui-collapsible-groupheading-color);
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
    }

    &Enter {
      opacity: 0;
    }

    &EnterActive {
      opacity: 1;
      transition: opacity var(--swui-collapsible-animation-time) ease-in-out;
    }

    &ExitDone {
      display: none;
    }
  }

  & & {
    --swui-collapsible-header-padding: 0 16px 0 24px;
    --swui-collapsible-content-padding: 8px 16px 8px 24px;
  }

  & & & {
    --swui-collapsible-header-padding: 0 16px 0 32px;
    --swui-collapsible-content-padding: 8px 16px 8px 32px;
  }

  & & & & {
    --swui-collapsible-header-padding: 0 16px 0 40px;
    --swui-collapsible-content-padding: 8px 16px 8px 40px;
  }

  & & & & & {
    --swui-collapsible-header-padding: 0 16px 0 48px;
    --swui-collapsible-content-padding: 8px 16px 8px 48px;
  }
}
