.travelDateCell {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;

  border-radius: var(--swui-max-border-radius);

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--swui-focus-outline);
    outline-width: var(--swui-focus-outline-width);
  }

  .splitBgWrapper {
  }
  .leftBg {
  }
  .rightBg {
  }

  .contentWrapper {
    border-radius: var(--swui-max-border-radius);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    background: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &.isSelectionStart,
    &.isSelectionEnd {
      border-color: var(--modern-red);
    }

    &.isSelectionStart {
      background: var(--modern-red);
      span {
        color: white;
      }
    }

    &.isSelectionEnd:not(.isSelectionStart) {
      background: white;
    }

    &.hover {
      border-color: var(--modern-red);

      &.startSelected:not(.endSelected) {
        background: var(--lhds-color-red-200);

        span {
          color: var(--swui-text-primary-color);
        }
      }
    }
  }
}
