.crumb {
  color: var(--swui-text-action-color);
  font-size: 10px;
  font-family: var(--swui-font-primary);
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
}

.crumb:hover {
  text-decoration: underline;
  color: var(--swui-text-action-color-hover);
}

.crumb:focus {
  color: var(--swui-text-action-color-focus);
}

.crumb:active {
  text-decoration: underline;
  color: var(--swui-text-action-color-active);
}
