.crumb {
  font-size: 1rem;
  font-family: var(--swui-font-primary);
  font-weight: var(--swui-font-weight-text-bold);
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: var(--swui-text-action-color);

  &:not(:last-of-type) {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: var(--swui-text-action-color-hover);
    }

    &:focus {
      color: var(--swui-text-action-color-focus);
    }

    &:active {
      text-decoration: underline;
      color: var(--swui-text-action-color-active);
    }
  }
}
