.closeButton {
  --swui-sidebarmenu-text-color: var(--swui-white);
  background-color: var(--lhds-color-blue-600);
}

.sidebarContainer {
  --swui-sidebarmenu-separator-color: var(--lhds-color-blue-700);
  --swui-sidebarmenu-text-color: var(--swui-white);
  --swui-sidebarmenu-background-color: var(--lhds-color-blue-900);
  --swui-sidebarmenu-background-color-hover: var(--lhds-color-blue-800);
  --swui-sidebarmenu-background-color-active: var(--lhds-color-blue-800);
  --swui-sidebarmenu-item-selected: var(--lhds-color-blue-500);
  --swui-sidebarmenu-content-padding: var(--swui-metrics-indent) var(--swui-metrics-indent) var(--swui-metrics-indent) 0;

  position: relative;

  .sidebarMenu {
    color: var(--swui-sidebarmenu-text-color);
    background-color: var(--swui-sidebarmenu-background-color);

    .collapsibleTitle {
      --swui-collapsible-header-background-color: var(--swui-sidebarmenu-background-color);
      --swui-collapsible-header-background-color-hover: var(--swui-sidebarmenu-background-color-hover);
      --swui-collapsible-header-background-color-active: var(--swui-sidebarmenu-background-color-active);
      --swui-collapsible-text-color: var(--swui-sidebarmenu-text-color);
      --swui-collapsible-header-indicator-color: var(--swui-sidebarmenu-text-color);
      --swui-collapsible-header-indicator-color-collapsed: var(--swui-sidebarmenu-text-color);
      --swui-collapsible-header-indicator-color-hover: var(--swui-sidebarmenu-text-color);
      --swui-collapsible-header-padding: 0 calc(var(--swui-metrics-indent) * 2) 0 0;
      --swui-collapsible-header-content-margin: 0;

      color: var(--swui-sidebarmenu-text-color);
      background-color: var(--swui-sidebarmenu-background-color);
      button {
        border-bottom: 0;
      }
      svg {
        color: var(--swui-sidebarmenu-text-color);
      }

      span {
        color: var(--swui-sidebarmenu-text-color);
      }

      .contentCollapsibleLink {
        padding: var(--swui-sidebarmenu-content-padding);
        &> div{
          padding: 0;
        }
      }
    }

    .heading {
      text-transform: uppercase;
      color: var(--swui-sidebarmenu-text-color);
      font-size: 10px;
    }

    .contentLeft {
      svg {
        color: var(--swui-sidebarmenu-text-color);
      }
    }

    .contentLink {
      display: flex;
      align-items: center;
      justify-content: stretch;
      width: 100%;
      background: var(--swui-sidebarmenu-background-color);
      padding: 0;
      min-height: var(--swui-collapsible-min-height);
      box-sizing: border-box;
      color: var(--swui-sidebarmenu-text-color);
      border-radius: 0;
      &:hover {
        background-color: var(--swui-sidebarmenu-background-color-hover);
      }
      &.selectedMenuItem::after {
        content: '';
        position: absolute;
        right: 0;
        height: 40px;
        width: 4px;
        background-color: var(--swui-sidebarmenu-item-selected);
      }
    }
  }
}
