.label {
  font-size: var(--current-text-size, var(--swui-button-text-size));
  line-height: var(--current-line-height, var(--swui-button-line-height));
  font-weight: var(--swui-button-font-weight);
  font-family: var(--swui-font-buttons);
  color: var(--current-text-color);
}

.icon {
  color: var(--current-text-color);
  font-size: 16px;
  width: var(--swui-sidebar-menu-item-height)
}

.spinner {
  color: var(--current-text-color);
}

.leftWrapper.leftWrapper.leftWrapper.leftWrapper {
  width: 56px;
  margin-right: 0;
}

.button {
  border: 0;
  background: var(--current-background-color);

  &:hover {
    background: var(--current-background-color-hover);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background: var(--current-background-color-active);
  }

  &:active {
    background: var(--current-background-color-active);
  }

  &.selected {
    background: var(--current-item-selected);
  }
}
