:root {
  --swui-sidebar-menu-separator-color: var(--lhds-color-blue-700);
  --swui-sidebar-menu-text-color: var(--swui-white);
  --swui-sidebar-menu-icon-color: var(--swui-white);
  --swui-sidebar-menu-background-color: var(--lhds-color-blue-900);
  --swui-sidebar-menu-background-color-hover: var(--lhds-color-blue-800);
  --swui-sidebar-menu-background-color-active: var(--lhds-color-blue-800);
  --swui-sidebar-menu-item-selected: var(--lhds-color-blue-500);
  --swui-sidebar-menu-content-padding: var(--swui-metrics-indent) var(--swui-metrics-indent) var(--swui-metrics-indent) 0;
  --swui-sidebar-menu-icon-size: 20;
}

.sidebarMenu {

  /* Current */
  --current-separator-color: var(--swui-sidebar-menu-separator-color);
  --current-text-color: var(--swui-sidebar-menu-text-color);
  --current-icon-color: var(--swui-sidebar-menu-icon-color);
  --current-background-color: var(--swui-sidebar-menu-background-color);
  --current-background-color-hover: var(--swui-sidebar-menu-background-color-hover);
  --current-background-color-active: var(--swui-sidebar-menu-background-color-active);
  --current-item-selected: var(--swui-sidebar-menu-item-selected);
  --current-content-padding: var(--swui-sidebar-menu-content-padding);
  --swui-sidebar-menu-icon-size: 20;

  background-color: var(--current-background-color);

  button {
    --swui-button-text-color: var(--swui-white);
    --swui-button-background-color-hover: var(--lhds-color-blue-800);
  }
}

