.sidebarMenuCollapsible {
  --swui-collapsible-header-text-color: var(--swui-sidebar-menu-text-color);
  --swui-collapsible-header-background-color: var(--swui-sidebar-menu-background-color);
  --swui-collapsible-header-background-color-hover: var(--swui-sidebar-menu-background-color-hover);
  --swui-collapsible-header-background-color-active: var(--swui-sidebar-menu-background-color-active);
  --swui-collapsible-header-indicator-color: var(--swui-sidebar-menu-text-color);
  --swui-collapsible-header-indicator-color-collapsed: var(--swui-sidebar-menu-text-color);
  --swui-collapsible-header-indicator-color-hover: var(--swui-sidebar-menu-text-color);
  --swui-collapsible-header-padding: 0 calc(var(--swui-metrics-indent) * 2) 0 0;
  --swui-collapsible-header-content-margin: 0;
  --swui-collapsible-collapsible-link-padding: var(--swui-metrics-indent) var(--swui-metrics-indent) var(--swui-metrics-indent) calc(var(--swui-metrics-indent)*4);
  --swui-collapsible-header-border-color: transparent;
}
