.sidebarMenu {
  /* Theme vars */
  --swui-sidebar-menu-separator-color: var(--swui-white);
  --swui-sidebar-menu-text-color: var(--lhds-color-ui-900);
  --swui-sidebar-menu-icon-color: var(--lhds-color-ui-900);
  --swui-sidebar-menu-background-color: transparent;
  --swui-sidebar-menu-background-color-hover: var(--lhds-color-ui-400);
  --swui-sidebar-menu-background-color-focus: var(--lhds-color-ui-400);
  --swui-sidebar-menu-background-color-active: var(--lhds-color-ui-300);
  --swui-sidebar-menu-background-selected: var(--lhds-color-blue-100);
  --swui-sidebar-menu-background-selected-hover: var(--lhds-color-blue-200);
  --swui-sidebar-menu-background-selected-focus: var(--lhds-color-blue-200);
  --swui-sidebar-menu-background-selected-active: var(--lhds-color-blue-100);

  /* State vars */
  --current-separator-color: var(--swui-sidebar-menu-separator-color);
  --current-text-color: var(--swui-sidebar-menu-text-color);
  --current-icon-color: var(--swui-sidebar-menu-icon-color);
  --current-background-color: var(--swui-sidebar-menu-background-color);
  --current-background-color-hover: var(
    --swui-sidebar-menu-background-color-hover
  );
  --current-background-color-focus: var(
    --swui-sidebar-menu-background-color-focus
  );
  --current-background-color-active: var(
    --swui-sidebar-menu-background-color-active
  );
  --current-background-selected: var(--swui-sidebar-menu-background-selected);
  --current-background-selected-hover: var(
    --swui-sidebar-menu-background-selected-hover
  );
  --current-background-selected-focus: var(
    --swui-sidebar-menu-background-selected-focus
  );
  --current-background-selected-active: var(
    --swui-sidebar-menu-background-selected-active
  );

  /* Styling */

  background-color: var(--current-background-color);
  height: 100dvh;

  button {
    --swui-button-text-color: var(--swui-white);
    --swui-button-background-color-hover: var(
      --swui-sidebar-menu-background-color-hover
    );
  }
}
