.sidebarMenuCollapsibleGroupBox {
  background: var(--lhds-color-ui-200);
  border-radius: var(--swui-border-radius);
  gap: var(--swui-metrics-space);
  display: flex;
  flex-direction: column;
  padding-top: var(--swui-metrics-space);
  padding-bottom: var(--swui-metrics-space);
}
