.sidebarMenu {
  /* Theme vars */
  --swui-sidebar-menu-item-height: 48px;
  --swui-sidebar-menu-separator-color: var(--lhds-color-blue-700);
  --swui-sidebar-menu-text-color: var(--swui-white);
  --swui-sidebar-menu-icon-color: var(--swui-white);

  --swui-sidebar-menu-background-color: var(--lhds-color-blue-500);
  --swui-sidebar-menu-background-color-hover: var(--lhds-color-blue-700);
  --swui-sidebar-menu-background-color-focus: var(--lhds-color-blue-700);
  --swui-sidebar-menu-background-color-active: var(--lhds-color-blue-600);
  --swui-sidebar-menu-item-selected: var(--lhds-color-blue-700);
  --swui-sidebar-menu-content-padding: var(--swui-metrics-indent)
    var(--swui-metrics-indent) var(--swui-metrics-indent) 0;

  /* Current */
  --current-separator-color: var(--swui-sidebar-menu-separator-color);
  --current-text-color: var(--swui-sidebar-menu-text-color);
  --current-icon-color: var(--swui-sidebar-menu-icon-color);
  --current-background-color: var(--swui-sidebar-menu-background-color);
  --current-background-color-hover: var(
    --swui-sidebar-menu-background-color-hover
  );
  --current-background-color-focus: var(
    --swui-sidebar-menu-background-color-focus
  );
  --current-background-color-active: var(
    --swui-sidebar-menu-background-color-active
  );
  --current-item-selected: var(--swui-sidebar-menu-item-selected);
  --current-content-padding: var(--swui-sidebar-menu-content-padding);

  /* Styling */

  background-color: var(--current-background-color);
  height: 100vh;

  &[data-collapsed] {
    width: var(--swui-sidebar-menu-item-height);
  }

  button {
    --swui-button-text-color: var(--swui-white);
    --swui-button-background-color-hover: var(
      --swui-sidebar-menu-background-color-hover
    );
  }
}
