.label {
  font-size: var(--current-text-size, var(--swui-font-size-medium));
  line-height: var(--current-line-height, var(--swui-line-height-medium));
  font-weight: var(--swui-button-font-weight);
  font-family: var(--swui-font-buttons);
  color: var(--current-text-color);
}

.icon {
  color: var(--current-text-color);
  font-size: 1.6rem;
}

.spinner {
  color: var(--current-text-color);
}

.leftWrapper.leftWrapper.leftWrapper.leftWrapper {
  width: var(--swui-sidebar-menu-item-height);
  margin-right: 0;
}

.button {
  border: 0;
  padding: 0;
  background: var(--current-background-color);

  [data-collapsed] [aria-expanded="true"] &,
  &:hover {
    background: var(--current-background-color-hover);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background: var(--current-background-color-active);
  }

  &:active {
    background: var(--current-background-color-active);
  }

  &.selected {
    background: var(--current-item-selected);
  }
}
