.sidebarMenuCloseButton {
  /* Theme vars */
  --swui-sidebar-menu-close-button-text-color: var(--lhds-color-ui-50);
  --swui-sidebar-menu-close-button-background-color: var(--lhds-color-blue-600);
  --swui-sidebar-menu-close-button-background-color-hover: var(
    --lhds-color-blue-700
  );
  --swui-sidebar-menu-close-button-background-color-focus: var(
    --lhds-color-blue-700
  );
  --swui-sidebar-menu-close-button-background-color-active: var(
    --lhds-color-blue-600
  );

  /* Current */
  --current-background-color: var(
    --swui-sidebar-menu-close-button-background-color
  );

  /* Styling */

  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 10px;
  background-color: var(--current-background-color);
  color: var(--swui-sidebar-menu-close-button-text-color);
  cursor: pointer;
  height: var(--swui-sidebar-menu-item-height);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;

  &:hover {
    --current-background-color: var(
      --swui-sidebar-menu-close-button-background-color-hover
    );
  }

  &:focus {
    --current-background-color: var(
      --swui-sidebar-menu-close-button-background-color-focus
    );
  }

  &:active {
    --current-background-color: var(
      --swui-sidebar-menu-close-button-background-color-active
    );
  }

  .iconWrapper {
    justify-content: center;
    align-items: center;
    width: var(--swui-sidebar-menu-item-height);
    height: var(--swui-sidebar-menu-item-height);
  }

  .icon {
    color: var(--swui-sidebar-menu-close-button-text-color);
  }
}
