:root {
  --black: #000000;
  --core-blue: #004a93;
  --efp-economy: var(--sjobod);
  --efp-flexi: var(--hav);
  --efp-premium: #e7ae2f;
  --hav-30: rgba(26, 90, 154, 0.3);
  --hav: rgb(26, 90, 154);
  --himmel-light: #cae2fb;
  --himmel-lighter: #e1edfd;
  --himmel: #b4d4f9;
  --modern-blue: #1178df;
  --modern-green: rgb(116, 179, 70);
  --modern-red: rgb(234, 20, 61);
  --moln: rgb(255, 255, 255);
  --molnigare: rgb(250, 250, 248);
  --mussla: #122f66;
  --sand-dark-10: rgba(155, 147, 123, 0.1);
  --sand-dark-20: rgba(155, 147, 123, 0.2);
  --sand-dark: rgba(155, 147, 123);
  --sand: rgb(250, 246, 235);
  --silver-dark: #6b6b6b;
  --silver-light: #c9c9c9;
  --silver-lighter: #f4f4f4;
  --silver-ui: #ebebeb;
  --silver: #949494;
  --sjobod: rgb(176, 15, 46);
  --snackskal-light: #fce1db;
  --snackskal: #fbd4cd;
  --tang: #80091b;
  --tjara: rgb(51, 51, 51);
}
