:root {
  /* Generic colors */
  --swui-white: #fff;
  --swui-hidden: rgba(0, 0, 0, 0);
  --swui-primary-action-color: var(--lhds-color-blue-500);
  --swui-primary-action-color-hover: var(--lhds-color-blue-600);
  --swui-primary-action-color-hover-light: var(--lhds-color-blue-100);
  --swui-primary-action-color-focus: var(--lhds-color-blue-700);
  --swui-primary-action-color-focus-light: var(--lhds-color-blue-100);
  --swui-primary-action-color-active: var(--lhds-color-blue-800);
  --swui-primary-action-color-disabled: var(--lhds-color-ui-300);
  --swui-separator-color: var(--lhds-color-ui-300);
  --swui-handle-bg-enabled-color: var(--swui-white);
  --swui-handle-bg-disabled-color: var(--lhds-color-ui-400);
  --swui-modal-border-color: var(--lhds-color-ui-400);
  --swui-overlay-bg-color: rgba(13, 14, 16, 0.5);

  /* State colors */
  --swui-state-error-color: var(--lhds-color-red-300);
  --swui-state-error-light-color: var(--lhds-color-red-50);
  --swui-state-alert-color: var(--lhds-color-orange-400);
  --swui-state-alert-light-color: var(--lhds-color-orange-50);
  --swui-state-success-color: var(--lhds-color-green-600);
  --swui-state-success-light-color: var(--lhds-color-green-50);
  --swui-state-modified-color: var(--lhds-color-blue-500);
  --swui-state-modified-light-color: var(--lhds-color-blue-200);
  --swui-state-loading-color: var(--lhds-color-ui-400);
  --swui-state-loading-light-color: var(--lhds-color-ui-100);

  /* Fonts */
  --swui-font-primary: "Stena Sans", "Open Sans", Arial, sans-serif;
  --swui-font-weight-text: 400;
  --swui-font-weight-text-bold: 500;
  --swui-font-weight-link: 400;
  --swui-font-buttons: var(--swui-font-primary);
  --swui-font-input: var(--swui-font-primary);
  --swui-font-size-inputs: 1.4rem;
  --swui-font-size-large: 1.6rem;
  --swui-line-height-large: 2.4rem;
  --swui-font-size-medium: 1.4rem;
  --swui-line-height-medium: 1.6rem;
  --swui-font-size-small: 1.2rem;
  --swui-line-height-small: 1.6rem;
  --swui-font-size-smaller: 1rem;
  --swui-line-height-smaller: 1.6rem;
  --swui-font-weight-inputs: 400;

  /* Text */
  --swui-text-primary-color: var(--lhds-color-ui-900);
  --swui-text-action-color: var(--lhds-color-blue-600);
  --swui-text-action-color-hover: var(--lhds-color-blue-500);
  --swui-text-action-color-focus: var(--lhds-color-blue-500);
  --swui-text-action-color-active: var(--lhds-color-blue-700);
  --swui-text-primary-color-light: var(--lhds-color-ui-400);
  --swui-text-disabled-color: var(--lhds-color-ui-500);
  --swui-text-disabled-color-light: var(--lhds-color-ui-300);
  --swui-text-darkmode-primary-color: var(--lhds-color-ui-400);
  --swui-text-darkmode-disabled-color: var(--lhds-color-ui-300);
  --swui-text-letter-spacing: 0;

  /* Animation speeds */
  --swui-animation-time-fast: 0.1s;
  --swui-animation-time-medium: 0.25s;
  --swui-animation-time-slow: 0.5s;

  /* Form fields */
  --swui-field-text-color: #424551;
  --swui-field-text-color-disabled: var(--lhds-color-ui-700);
  --swui-field-text-spacing: 6px;
  --swui-field-letter-spacing: 0;
  --swui-field-text-line-height: 2rem;
  --swui-field-bg-enabled: var(--swui-white);
  --swui-field-bg-disabled: var(--lhds-color-ui-300);
  --swui-field-border-color: var(--lhds-color-ui-400);
  --swui-field-border-color-hover: var(--lhds-color-blue-500);
  --swui-field-border-color-disabled: #b1b1b1;
  --swui-field-shadow-color: rgba(0, 0, 0, 0.15);
  --swui-field-box-size-large: 32px;
  --swui-field-box-size-medium: 24px;
  --swui-field-box-size-small: 16px;
  --swui-field-border-radius: 4px;
  --swui-field-icon-color: var(--swui-text-primary-color);
  --swui-field-icon-size: 13px;
  --swui-field-indicator-active-color: var(--swui-white);
  --swui-field-indicator-inactive-color: var(--swui-hidden);
  --swui-field-placeholder-color: var(--lhds-color-ui-500);

  /* Borders */
  --swui-border-radius: 4px;

  /* Shadows */
  --swui-shadow-modal: rgba(0, 0, 0, 0.2) 0px 0px 10px 4px;
  --swui-shadow-popover: 0 2px 4px -1px rgba(20, 62, 98, 0.15),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  --swui-shadow-box: rgba(0, 0, 0, 0.15) 0 2px 4px 0;
  --swui-field-focus-shadow: inset 0px 0px 3pt 0pt rgba(0, 0, 100, 0.3);
  --swui-field-focus-shadow-inverted: inset 0px 0px 3pt 0pt
    var(--lhds-color-blue-50);

  /* Metrics */
  --swui-metrics-indent: 8px;
  --swui-metrics-spacing: 8px;
  --swui-metrics-space: 8px;
}
