.switch {
  --swui-switch-width: 50px;
  --swui-switch-height: var(--swui-field-box-size-medium);
  --swui-switch-animation-time: var(--swui-animation-time-medium);
  --swui-switch-selected-highlight-color: var(--lhds-color-blue-500);
  --swui-switch-knob-width: calc(var(--swui-switch-height) - 2px);
  /* Backgrounds */
  --swui-switch-knob-bg-color-enabled: var(--swui-handle-bg-enabled-color);
  --swui-switch-knob-bg-color-disabled: var(--swui-handle-bg-disabled-color);
  --swui-switch-container-bg-color-enabled: var(--swui-field-bg-enabled);
  --swui-switch-container-bg-color-disabled: var(--swui-field-bg-disabled);
  /* Borders */
  --swui-switch-knob-border-color-enabled: var(--swui-separator-color);
  --swui-switch-container-border-color: var(--swui-field-border-color);
  --swui-switch-container-border-color-hover: var(
    --swui-field-border-color-hover
  );
  --swui-switch-container-border-color-disabled: var(
    --swui-field-border-color-disabled
  );
  /* Shadow */
  --swui-switch-knob-shadow-color: var(--swui-field-shadow-color);

  display: flex;
  flex-direction: row;
  border: 1px solid var(--swui-switch-container-border-color);
  box-sizing: border-box;
  background-color: var(--swui-switch-container-bg-color-enabled);
  height: var(--swui-switch-height);
  width: var(--swui-switch-width);
  border-radius: calc(var(--swui-switch-height) / 2);
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: background-color var(--swui-switch-animation-time);

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    border: 1px solid var(--swui-switch-selected-highlight-color);
    box-shadow: inset var(--swui-switch-selected-highlight-color) 0 0 4px 0;
  }

  &:hover {
    border: 1px solid var(--swui-switch-selected-highlight-color);
  }

  &:disabled {
    cursor: default;
    background-color: var(--swui-switch-container-bg-color-disabled);
    border: 1px solid var(--swui-switch-container-border-color-disabled);

    .knob {
      background-color: var(--swui-switch-knob-bg-color-disabled);
    }
  }

  .filler {
    flex: none;
    transition: flex var(--swui-switch-animation-time);
  }

  .knob {
    width: var(--swui-switch-knob-width);
    height: var(--swui-switch-knob-width);
    border-radius: 50%;
    background-color: var(--swui-switch-knob-bg-color-enabled);
    box-shadow: var(--swui-switch-knob-shadow-color) 0 0 4px 1px;
  }
}

.checked {
  border: 1px solid var(--swui-switch-selected-highlight-color);
  background-color: var(--swui-switch-selected-highlight-color);

  .filler {
    flex: 1;
  }
}
