:root {
  --swui-hamburger-menu-button-text-color: var(--lhds-color-ui-50);
  --swui-hamburger-menu-button-background-color: var(--lhds-color-blue-500);
  --swui-hamburger-menu-button-background-color-hover: var(--lhds-color-blue-600);
  --swui-hamburger-menu-button-background-dark-color: var(--lhds-color-blue-800);
  --swui-hamburger-menu-button-background-dark-color-hover: var(--lhds-color-blue-900);
}

.hamburgerMenu {

  /* Current */
  --current-background-color: var(--swui-hamburger-menu-button-background-color);
  --current-background-color-hover: var(--swui-hamburger-menu-button-background-color-hover);

  /* Styling */
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    transition: transform 150ms ease-in;
  }

  & button {
    line-height: 10px;
    background-color: var(--current-background-color);
    display: inline-block;
    border-width: 0;
    border-image-width: 0;
    color: var(--swui-hamburger-menu-button-text-color);
    text-align: center;
    cursor: pointer;
    height: 64px;
    width: 64px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 0;
    &:focus, &:hover {
      border: 0;
      outline: none;
      background-color: var(--current-background-color-hover);
    }
  }

  &.dark {
    --current-background-color: var(--swui-hamburger-menu-button-background-dark-color);
    --current-background-color-hover: var(--swui-hamburger-menu-button-background-dark-color-hover);

    &.hamburgerClose {
      --current-background-color: var(--lhds-color-blue-900);
      --current-background-color-hover: var(--lhds-color-blue-900);

      &:hover {
        svg {
          transform:rotate(90deg);
        }
      }
    }
  }

  &.hamburgerBars{
    color: var(--swui-hamburger-menu-button-text-color);
  }
}





