.navBarButton {
  &:hover {
    background: var(--lhds-color-ui-100);
  }

  &:focus-visible {
    background: var(--lhds-color-ui-200);
  }

  &:active {
    background: var(--lhds-color-ui-200);
  }

  &.selected {
    background: var(--lhds-color-blue-200);

    &:hover {
      background: var(--lhds-color-blue-100);
    }

    &:focus-visible {
      background: var(--lhds-color-blue-300);
    }

    &:active {
      background: var(--lhds-color-blue-200);
    }
  }
}
