.navBarNotificationButton {
  --current-background-color: var(--lhds-color-ui-400);
  --current-outline-color: var(--modern-blue);

  background-color: var(--current-background-color);
  border-color: transparent;
  color: var(--lhds-color-ui-50);

  --swui-nav-bar-notification-shake-count: 3;

  transition: 0.5s width;

  &.unread,
  &:hover {
    --current-background-color: var(--lhds-color-red-500);
    --current-outline-color: var(--lhds-color-red-500);

    &:active {
      --current-background-color: var(--lhds-color-red-600);
      --current-outline-color: var(--lhds-color-red-600);
    }
  }

  &.unread .icon {
      transform-origin: top center;
      animation: shake 1.5s ease-in-out
        var(--swui-nav-bar-notification-shake-count);
  }

  &.unread.hasCount {
    --current-background-color: var(--lhds-color-red-600);
    --current-outline-color: var(--lhds-color-red-600);

    &:hover {
      --current-background-color: var(--lhds-color-red-700);
      --current-outline-color: var(--lhds-color-red-700);
    }
    &:active {
      --current-background-color: var(--lhds-color-red-800);
      --current-outline-color: var(--lhds-color-red-800);
    }
  }

  &:focus-visible {
    outline: var(--swui-focus-outline);
    outline-color: var(--current-outline-color);
    outline-offset: var(--swui-focus-outline-width);
  }

  @keyframes shake {
    0% {
      transform: rotate(0);
    }
    7% {
      transform: rotate(20deg);
    }
    15% {
      transform: rotate(-20deg);
    }
    22% {
      transform: rotate(16deg);
    }
    30% {
      transform: rotate(-16deg);
    }
    38% {
      transform: rotate(6deg);
    }
    42% {
      transform: rotate(-6deg);
    }
    46% {
      transform: rotate(2deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}
