.sidebarMenuButton {
  /* Theme vars */
  --swui-nav-bar-side-menu-button-text-color: var(--lhds-color-ui-50);
  --swui-nav-bar-side-menu-button-background-color: var(--lhds-color-blue-500);
  --swui-nav-bar-side-menu-button-background-color-hover: var(
    --lhds-color-blue-600
  );
  --swui-nav-bar-side-menu-button-background-color-focus: var(
    --lhds-color-blue-600
  );
  --swui-nav-bar-side-menu-button-background-color-active: var(
    --lhds-color-blue-700
  );
  --swui-nav-bar-side-menu-button-background-dark-color: var(
    --lhds-color-blue-800
  );
  --swui-nav-bar-side-menu-button-background-dark-color-hover: var(
    --lhds-color-blue-700
  );
  --swui-nav-bar-side-menu-button-background-dark-color-focus: var(
    --lhds-color-blue-700
  );
  --swui-nav-bar-side-menu-button-background-dark-color-active: var(
    --lhds-color-blue-500
  );

  /* Current */
  --current-background-color: var(
    --swui-nav-bar-side-menu-button-background-color
  );

  /* Styling */

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10px;
  background-color: var(--current-background-color);
  color: var(--swui-nav-bar-side-menu-button-text-color);
  cursor: pointer;
  height: 64px;
  width: 64px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;

  &.light {
    --current-background-color: var(
      --swui-nav-bar-side-menu-button-background-color
    );

    &:hover {
      --current-background-color: var(
        --swui-nav-bar-side-menu-button-background-color-hover
      );
    }

    &:focus {
      --current-background-color: var(
        --swui-nav-bar-side-menu-button-background-color-focus
      );
    }

    &:active {
      --current-background-color: var(
        --swui-nav-bar-side-menu-button-background-color-active
      );
    }
  }

  &.dark {
    --current-background-color: var(
      --swui-nav-bar-side-menu-button-background-dark-color
    );

    &:hover {
      --current-background-color: var(
        --swui-nav-bar-side-menu-button-background-dark-color-hover
      );
    }

    &:focus {
      --current-background-color: var(
        --swui-nav-bar-side-menu-button-background-dark-color-focus
      );
    }

    &:active {
      --current-background-color: var(
        --swui-nav-bar-side-menu-button-background-dark-color-active
      );
    }
  }

  .icon {
    color: var(--swui-nav-bar-side-menu-button-text-color);
  }
}
