:root {
  --swui-navbar-background-color: var(--lhds-color-blue-500);
  --swui-navbar-item-backgroud-color-hover: var(--lhds-color-blue-700);
  --swui-navbar-item-backgroud-color-selected: var(--lhds-color-blue-600);
  --swui-navbar-item-backgroud-color-selected-hover: var(--lhds-color-blue-700);

  --swui-navbar-background-dark-color: var(--lhds-color-blue-800);
  --swui-navbar-dark-item-backgroud-color-hover: var(--lhds-color-blue-900);
  --swui-navbar-dark-item-backgroud-color-selected: var(--lhds-color-blue-700);
  --swui-navbar-dark-item-backgroud-color-selected-hover: var(
    --lhds-color-blue-900
  );
}

.navBar {
  /* Styling */
  background-color: var(--swui-navbar-background-color);

  /* NavBarButton overrides */
  --swui-nav-bar-button-background-color-hover: var(
    --swui-navbar-item-backgroud-color-hover
  );
  --swui-nav-bar-button-background-color-selected: var(
    --swui-navbar-item-backgroud-color-selected
  );
  --swui-nav-bar-button-background-color-selected-hover: var(
    --swui-navbar-item-backgroud-color-selected-hover
  );

  &.dark {
    background-color: var(--swui-navbar-background-dark-color);
    --swui-nav-bar-button-background-color-hover: var(
      --swui-navbar-dark-item-backgroud-color-hover
    );
    --swui-nav-bar-button-background-color-selected: var(
      --swui-navbar-dark-item-backgroud-color-selected
    );
    --swui-nav-bar-button-background-color-selected-hover: var(
      --swui-navbar-dark-item-backgroud-color-selected-hover
    );
  }
}
