.navBarUserButton {
  &:hover {
    background: var(--lhds-color-ui-100);
  }

  &:focus-visible {
    background: var(--lhds-color-ui-200);
  }

  &:active {
    background: var(--lhds-color-ui-200);
  }
}
