.sidebarMenuButton {
  /* Theme vars */
  --swui-nav-bar-side-menu-button-text-color: var(--lhds-color-ui-50);
  --swui-nav-bar-side-menu-button-background-color: var(--lhds-color-blue-600);
  --swui-nav-bar-side-menu-button-background-color-hover: var(
    --lhds-color-blue-700
  );
  --swui-nav-bar-side-menu-button-background-color-focus: var(
    --lhds-color-blue-700
  );
  --swui-nav-bar-side-menu-button-background-color-active: var(
    --lhds-color-blue-800
  );

  /* State vars */
  --current-background-color: var(
    --swui-nav-bar-side-menu-button-background-color
  );

  /* Styling */
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10px;
  background-color: var(--current-background-color);
  color: var(--swui-nav-bar-side-menu-button-text-color);
  cursor: pointer;
  height: var(--swui-nav-bar-height);
  width: var(--swui-nav-bar-height);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;

  &:hover {
    --current-background-color: var(
      --swui-nav-bar-side-menu-button-background-color-hover
    );
  }

  &:focus-visible {
    --current-background-color: var(
      --swui-nav-bar-side-menu-button-background-color-focus
    );
  }

  &:active {
    --current-background-color: var(
      --swui-nav-bar-side-menu-button-background-color-active
    );
  }

  .icon {
    color: var(--swui-nav-bar-side-menu-button-text-color);
  }
}
