.navBarSearchFieldInput.navBarSearchFieldInput {
  line-height: 2.7rem;
  color: var(--lhds-color-ui-800);

  &::placeholder {
    color: var(--lhds-color-blue-600);
  }

  padding: 0 var(--swui-metrics-indent);
}

.navBarSearchFieldWrapper.navBarSearchFieldWrapper {
  background: var(--lhds-color-ui-200);
  border-color: transparent;

  &:hover {
    border-color: transparent;
  }

  padding: 0 var(--swui-metrics-indent);

  border-radius: var(--swui-max-border-radius);

  &.withButton {
    padding-right: 1px;
  }

  &:focus-within {
    color: var(--lhds-color-ui-800);
    background: var(--lhds-color-ui-50);
  }

  .clearButton {
    border-radius: var(--swui-max-border-radius);
  }
}
