.navBarSearchField {
  --swui-textinput-animation-time: var(--swui-animation-time-fast);

  input {
    --swui-textinput-line-height: 27px;
    --swui-textinput-text-color: var(--lhds-color-ui-50);

    &:focus {
      --swui-textinput-text-color: var(--lhds-color-ui-800);
    }
  }

  &.light {
    --swui-textinput-placeholder-color: var(--lhds-color-ui-500);
    --swui-textinput-bg-color: var(--lhds-color-blue-600);
    --swui-textinput-border-color: transparent;
    --swui-textinput-border-color-hover: transparent;

    &:focus-within {
      --swui-textinput-text-color: var(--lhds-color-ui-800);
      --swui-field-text-color: var(--swui-field-text-color);
      --swui-textinput-icon-color: var(--lhds-color-ui-500);
      --swui-textinput-bg-color: var(--lhds-color-ui-50);
    }
  }

  &.dark {
    --swui-textinput-placeholder-color: var(--lhds-color-ui-500);
    --swui-textinput-bg-color: var(--lhds-color-blue-900);
    --swui-textinput-border-color: transparent;
    --swui-textinput-border-color-hover: transparent;

    &:focus-within {
      --swui-field-text-color: var(--swui-field-text-color);
      --swui-textinput-icon-color: var(--lhds-color-ui-500);
      --swui-textinput-bg-color: var(--lhds-color-ui-50);
    }
  }
}
