.tab {
  --swui-tab-height: 32px;
  --swui-tab-border-radius: 0;
  --swui-tab-border-color-hover: var(--lhds-color-ui-300);
  --swui-tab-border-color-focus: var(--lhds-color-ui-300);
  --swui-tab-border-color-selected: var(--lhds-color-blue-600);
  --swui-tab-background: var(--lhds-color-ui-200);
  --swui-tab-background-hover: var(--lhds-color-ui-400);
  --swui-tab-background-focus: var(--lhds-color-blue-100);
  --swui-tab-background-selected: var(--lhds-color-blue-200);
  --swui-tab-label-color: var(--lhds-color-ui-900);
  --swui-tab-label-color-hover: var(--lhds-color-blue-900);
  --swui-tab-label-color-selected: var(--lhds-color-blue-600);
  --swui-tab-label-color-selected-hover: var(--lhds-color-blue-600);
  --swui-tab-outline-color-focus: var(--lhds-color-blue-400);

  /*
  State variables
   */
  --current-outer-border-bottom-color: transparent;
  --current-inset-shadow: none;
  --current-label-color: var(--swui-tab-label-color);

  /*
  Styling
   */

  min-height: var(--swui-tab-height);
  outline: none;
  border-radius: var(--swui-tab-border-radius);
  padding: 5px calc(var(--swui-metrics-indent) * 3);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: var(--swui-font-size-medium);
  font-family: var(--swui-font-buttons);
  font-weight: var(--swui-font-weight-text-bold);
  border: none;
  cursor: pointer;
  border-bottom: 2px solid var(--current-outer-border-bottom-color);
  background-color: transparent;
  color: var(--current-label-color);

  &:focus-visible {
    outline: 2px solid var(--swui-tab-outline-color-focus);
    --current-outer-border-bottom-color: var(--swui-tab-border-color-focus);
    padding-bottom: 4px;
  }

  &.selected {
    --current-outer-border-bottom-color: var(--swui-tab-border-color-selected);
    --current-label-color: var(--swui-tab-label-color-selected);
  }

  &:hover {
    &.selected {
      color: var(--swui-tab-label-color-selected-hover);
    }
    &:not(.selected) {
      --current-outer-border-bottom-color: var(--swui-tab-border-color-hover);
      color: var(--swui-tab-label-color-hover);
    }
  }
}
