.tabMenu {
  --swui-tab-menu-height: 45px;
  --swui-tab-menu-border-color: var(--lhds-color-ui-200);

  /*
  Styling
   */
  display: flex;
  height: var(--swui-tab-menu-height);

  &.withBorder {
    border-bottom: 1px solid var(--swui-tab-menu-border-color);
  }
}
