.cardy.cardy {
  border-radius: var(--swui-border-radius-card);

  padding-top: 32px;
  padding-bottom: 32px;
  @media (max-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.cardyIndent.cardyIndent {
  padding-left: 32px;
  padding-right: 32px;
  @media (max-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
