.timeTag {
  --current-icon-color: var(--lhds-color-ui-500);

  .icon {
    color: var(--current-icon-color);
  }

  &.waiting {
    --current-icon-color: var(--lhds-color-orange-600);
  }

  &.total {
    --current-icon-color: var(--lhds-color-blue-600);
  }
}
