.button {
  /* Size */
  --swui-button-height-small: 24px;
  --swui-button-height-medium: 36px;
  --swui-button-height-large: 48px;
  --swui-button-height-larger: 72px;

  /* Icon */
  --swui-button-icon-height-small: 1.6rem;
  --swui-button-icon-height-small-icon-only: 1.6rem;
  --swui-button-icon-height-medium: 2rem;
  --swui-button-icon-height-medium-icon-only: 2rem;
  --swui-button-icon-height-large: 2.4rem;
  --swui-button-icon-height-large-icon-only: 2.4rem;
  --swui-button-icon-height-larger: 3.2rem;
  --swui-button-icon-height-larger-icon-only: 3.2rem;

  /*
   * Styling
   */
  --swui-button-padding-vertical: 6px;
  --swui-button-padding-horizontal: 16px;

  box-sizing: border-box;
  min-height: var(--swui-button-height-medium);
  height: var(--swui-button-height-medium);
  letter-spacing: var(--swui-field-letter-spacing);
  text-decoration: none;
  padding: var(--swui-button-padding-vertical)
    var(--swui-button-padding-horizontal);
  border-radius: var(--swui-max-border-radius);
  outline: none;
  font-size: var(--swui-font-size-medium);
  line-height: var(--swui-line-height);
  font-weight: var(--swui-font-weight-text-bold);
  font-family: var(--swui-font-buttons);
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  --current-icon-height: var(--swui-button-icon-height-medium);

  &.roundButton {
    padding: var(--swui-button-padding-vertical);
    flex: none;

    width: var(--swui-button-height-medium);
    height: var(--swui-button-height-medium);
    justify-content: center;
    align-items: center;
    display: flex;

    &.small {
      width: var(--swui-button-height-small);
      height: var(--swui-button-height-small);
      --current-icon-height: var(--swui-button-icon-height-small-icon-only);
    }

    &.medium {
      width: var(--swui-button-height-medium);
      height: var(--swui-button-height-medium);
      --current-icon-height: var(--swui-button-icon-height-medium-icon-only);
    }

    &.large {
      width: var(--swui-button-height-large);
      height: var(--swui-button-height-large);
      --current-icon-height: var(--swui-button-icon-height-large-icon-only);
    }

    &.larger {
      width: var(--swui-button-height-larger);
      height: var(--swui-button-height-larger);
      --current-icon-height: var(--swui-button-icon-height-larger-icon-only);
    }
  }

  /*
   * State and variants
   */

  &.small {
    --swui-button-padding-vertical: 3px;
    font-size: 1.2rem;
    min-height: var(--swui-button-height-small);
    height: var(--swui-button-height-small);
    --current-icon-height: var(--swui-button-icon-height-small);
    --swui-button-padding-horizontal: 8px;
  }

  &.large {
    --swui-button-padding-vertical: 8px;
    font-size: 1.8rem;
    min-height: var(--swui-button-height-large);
    height: var(--swui-button-height-large);
    --current-icon-height: var(--swui-button-icon-height-large);
  }

  &.larger {
    --swui-button-padding-vertical: 8px;
    min-height: var(--swui-button-height-larger);
    height: var(--swui-button-height-larger);
    font-size: 2rem;
    --current-icon-height: var(--swui-button-icon-height-larger);
    --swui-button-padding-horizontal: 40px;
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
