.iconLeft,
.iconRight {
  color: var(--current-icon-color);
  font-size: var(--current-icon-height);
}

.leftWrapper,
.rightWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftWrapper:not(:last-child) {
  margin-right: var(--swui-metrics-indent);

  &.larger {
    margin-right: calc(var(--swui-metrics-indent) * 2);
  }
}

.rightWrapper:not(:first-child) {
  margin-left: var(--swui-metrics-indent);

  &.larger {
    margin-left: calc(var(--swui-metrics-indent) * 2);
  }
}

.responsiveIconOnly {
  @media (max-width: 512px) {
    &.leftWrapper {
      margin-right: 0;
    }

    &.label,
    &.rightWrapper {
      display: none;
    }
  }
}

.spinnerLeft {
  display: flex;
  align-items: center;
}

.label {
  white-space: nowrap;
}
