.actionMenuItem {
  --swui-action-menu-item-height: 40px;

  --swui-action-menu-icon-color: var(--swui-text-primary-color);
  --swui-action-menu-icon-color-disabled: var(--swui-text-disabled-color);
  --swui-action-menu-icon-color-focus: var(--swui-text-primary-color);
  --swui-action-menu-icon-color-hover: var(--swui-text-primary-color);

  --swui-action-menu-item-background: var(--swui-white);
  --swui-action-menu-item-background-focus: var(
    --swui-primary-action-color-focus-light
  );
  --swui-action-menu-item-background-hover: var(
    --swui-primary-action-color-hover-light
  );
  --swui-action-menu-item-background-disabled: var(--swui-white);
  --swui-action-menu-item-background-disabled-focus: var(
    --swui-text-disabled-color-light
  );

  --swui-action-menu-item-label-color: var(--swui-text-primary-color);
  --swui-action-menu-item-label-color-disabled: var(--swui-text-disabled-color);
  --swui-action-menu-item-label-color-focus: var(--swui-text-primary-color);
  --swui-action-menu-item-label-color-hover: var(--swui-text-primary-color);

  --swui-action-menu-item-text-color: var(--swui-text-primary-color-light);
  --swui-action-menu-item-text-color-disabled: var(
    --swui-text-disabled-color-light
  );
  --swui-action-menu-item-text-color-focus: var(
    --swui-text-primary-color-light
  );
  --swui-action-menu-item-text-color-hover: var(
    --swui-text-primary-color-light
  );

  --current-item-background: var(--swui-action-menu-item-background);
  --current-item-label-color: var(--swui-action-menu-item-label-color);
  --current-item-text-color: var(--swui-action-menu-item-text-color);
  --current-item-icon-color: var(--swui-action-menu-icon-color);

  display: inline-flex;
  user-select: none;
  padding: 0;
  background: var(--current-item-background);
  border: none;
  align-items: stretch;
  outline: 0;
  text-decoration: none;
  font-size: var(--swui-button-text-size);
  line-height: var(--swui-button-line-height);
  font-weight: var(--swui-button-font-weight);
  font-family: var(--swui-font-buttons);

  &.bottom {
    flex-direction: column;
  }

  &:not(.actionMenuItemContent) {
    cursor: pointer;
  }

  &:first-child {
    border-top-left-radius: var(--swui-action-menu-border-radius);
    border-top-right-radius: var(--swui-action-menu-border-radius);
  }

  &:last-child {
    border-bottom-left-radius: var(--swui-action-menu-border-radius);
    border-bottom-right-radius: var(--swui-action-menu-border-radius);
  }

  &:disabled,
  &[aria-disabled="true"] {
    cursor: not-allowed;
    --current-item-background: var(--swui-action-menu-item-background-disabled);
    --current-item-label-color: var(
      --swui-action-menu-item-label-color-disabled
    );
    --current-item-text-color: var(--swui-action-menu-item-text-color-disabled);
    --current-item-icon-color: var(--swui-action-menu-icon-color-disabled);
  }

  &.standard {
    &:hover:not(&:disabled, &[aria-disabled="true"], &.actionMenuItemContent) {
      --current-item-background: var(--swui-action-menu-item-background-hover);
      --current-item-label-color: var(
        --swui-action-menu-item-label-color-hover
      );
      --current-item-text-color: var(--swui-action-menu-item-text-color-hover);
      --current-item-icon-color: var(--swui-action-menu-icon-color-hover);
    }

    &:focus {
      --current-item-background: var(--swui-action-menu-item-background-focus);
      --current-item-label-color: var(
        --swui-action-menu-item-label-color-focus
      );
      --current-item-text-color: var(--swui-action-menu-item-text-color-focus);
      --current-item-icon-color: var(--swui-action-menu-icon-color-focus);
    }

    &:disabled:focus {
      --current-item-background: var(
        --swui-action-menu-item-background-disabled-focus
      );
    }
  }

  &.danger {
    --current-item-icon-color: var(--lhds-color-red-500);
    --current-item-label-color: var(--lhds-color-red-600);

    &:hover:not(&:disabled, &[aria-disabled="true"], &.actionMenuItemContent) {
      --current-item-background: var(--lhds-color-red-50);
      --current-item-icon-color: var(--lhds-color-red-500);
      --current-item-label-color: var(--lhds-color-red-600);

      --current-item-text-color: var(--swui-action-menu-item-text-color-hover);
    }

    &:focus {
      --current-item-background: var(--lhds-color-red-50);
      --current-item-label-color: var(--lhds-color-red-600);
      --current-item-icon-color: var(--lhds-color-red-500);

      --current-item-text-color: var(--swui-action-menu-item-text-color-focus);
    }

    &:disabled:focus {
      --current-item-background: var(
        --swui-action-menu-item-background-disabled-focus
      );
    }
  }

  &.success {
    --current-item-icon-color: var(--lhds-color-green-600);
    --current-item-label-color: var(--lhds-color-green-600);

    &:hover:not(&:disabled, &[aria-disabled="true"], &.actionMenuItemContent) {
      --current-item-background: var(--lhds-color-green-50);
      --current-item-icon-color: var(--lhds-color-green-600);
      --current-item-label-color: var(--lhds-color-green-600);

      --current-item-text-color: var(--swui-action-menu-item-text-color-hover);
    }

    &:focus {
      --current-item-background: var(--lhds-color-green-50);
      --current-item-label-color: var(--lhds-color-green-600);
      --current-item-icon-color: var(--lhds-color-green-600);

      --current-item-text-color: var(--swui-action-menu-item-text-color-focus);
    }

    &:disabled:focus {
      --current-item-background: var(
        --swui-action-menu-item-background-disabled-focus
      );
    }
  }
}

.actionMenuItemLabel {
  color: var(--current-item-label-color);
  margin-right: auto;
}

.actionMenuItemText {
  color: var(--current-item-text-color);
}

.actionMenuItemIcon {
  --current-icon-color: var(--current-item-icon-color);
}

.actionMenuItemIconWrapper {
  width: 20px;
}

.actionMenuItemInnerContent {
  height: var(--swui-action-menu-item-height);
}
