:root {
  /* Colors */
  --swui-color-blue-100: #e1eefa;
  --swui-color-blue-200: #afd0f1;
  --swui-color-blue-300: #6ca9e6;
  --swui-color-blue-400: #3a8cdd;
  --swui-color-blue-50: #f2f8fd;
  --swui-color-blue-500: #2378cd;
  --swui-color-blue-600: #1d64ab;
  --swui-color-blue-700: #18518a;
  --swui-color-blue-800: #143e62;
  --swui-color-blue-900: #0f304d;

  --swui-color-green-100: #d1efc1;
  --swui-color-green-200: #aee492;
  --swui-color-green-300: #8ad861;
  --swui-color-green-400: #6cce38;
  --swui-color-green-50: #f4fbf0;
  --swui-color-green-500: #60bd2f;
  --swui-color-green-600: #509e27;
  --swui-color-green-700: #407e1f;
  --swui-color-green-800: #305f18;
  --swui-color-green-900: #284f14;

  --swui-color-orange-100: #ffeac4;
  --swui-color-orange-200: #ffd589;
  --swui-color-orange-300: #ffc04e;
  --swui-color-orange-400: #ffb633;
  --swui-color-orange-50: #fff8eb;
  --swui-color-orange-500: #ffa400;
  --swui-color-orange-600: #eb9700;
  --swui-color-orange-700: #d88b00;
  --swui-color-orange-800: #b17200;
  --swui-color-orange-900: #895800;

  --swui-color-purple-100: #f5d6e9;
  --swui-color-purple-200: #edb6d8;
  --swui-color-purple-300: #e287be;
  --swui-color-purple-400: #d758a5;
  --swui-color-purple-50: #fdf6fa;
  --swui-color-purple-500: #cf3894;
  --swui-color-purple-600: #a42874;
  --swui-color-purple-700: #85205d;
  --swui-color-purple-800: #651847;
  --swui-color-purple-900: #58153e;

  --swui-color-red-100: #ffdde4;
  --swui-color-red-200: #ff899f;
  --swui-color-red-300: #ff4e70;
  --swui-color-red-400: #f1002e;
  --swui-color-red-50: #fff1f4;
  --swui-color-red-500: #d70029;
  --swui-color-red-600: #b00022;
  --swui-color-red-700: #8a0019;
  --swui-color-red-800: #710015;
  --swui-color-red-900: #570010;

  --swui-color-turquoise-100: #daf8f4;
  --swui-color-turquoise-200: #b9f2e9;
  --swui-color-turquoise-300: #87e8da;
  --swui-color-turquoise-400: #46dcc6;
  --swui-color-turquoise-50: #eafbf9;
  --swui-color-turquoise-500: #28d2b9;
  --swui-color-turquoise-600: #24bda6;
  --swui-color-turquoise-700: #1c9280;
  --swui-color-turquoise-800: #156f62;
  --swui-color-turquoise-900: #125f53;

  --swui-color-ui-100: #fafafb;
  --swui-color-ui-200: #efeff2;
  --swui-color-ui-300-border: #e4e5e9;
  --swui-color-ui-400: #ced0d7;
  --swui-color-ui-50: #ffffff;
  --swui-color-ui-500: #989cab;
  --swui-color-ui-600: #5c6171;
  --swui-color-ui-700-icon: #424551;
  --swui-color-ui-800: #282931;
  --swui-color-ui-900: #0d0e10;

  /* Text colors */
  --swui-text-primary-color: #1b2e47;
  --swui-text-disabled-color: #b6b6b6;
  --swui-text-darkmode-primary-color: #bcbabd;
  --swui-text-darkmode-disabled-color: #dddddd;

  /* Generic colors */
  --swui-white: #fff;
  --swui-hidden: rgba(0, 0, 0, 0);
  --swui-primary-action-color: #2378cd;
  --swui-separator-color: #b1b1b1;
  --swui-handle-bg-enabled-color: var(--swui-white);
  --swui-handle-bg-disabled-color: #bebbc0;
  --swui-modal-border-color: #bebbc0;

  /* State colors */
  --swui-state-error-color: #d05353;
  --swui-state-error-light-color: #fff1f4;
  --swui-state-alert-color: #ffa400;
  --swui-state-alert-light-color: #fff8eb;
  --swui-state-success-color: #60bd2f;
  --swui-state-success-light-color: #94f78c;
  --swui-state-modified-color: var(--swui-primary-action-color);
  --swui-state-modified-light-color: #e2edf7;
  --swui-state-loading-color: #ced0d7;
  --swui-state-loading-light-color: #fafafb;

  /* Fonts */
  --swui-font-primary: "Open Sans", system-ui;
  --swui-font-buttons: var(--swui-font-primary);
  --swui-font-input: var(--swui-font-primary);
  --swui-font-size-inputs: 14px;
  --swui-font-weight-inputs: 400;

  /* Animation speeds */
  --swui-animation-time-fast: 0.1s;
  --swui-animation-time-medium: 0.25s;
  --swui-animation-time-slow: 0.5s;

  /* Form fields */
  --swui-field-text-color: #424551;
  --swui-field-text-color-disabled: #989cab;
  --swui-field-text-spacing: 6px;
  --swui-field-letter-spacing: -0.34px;
  --swui-field-text-line-height: 20px;
  --swui-field-bg-enabled: var(--swui-white);
  --swui-field-bg-disabled: #e8e4ea;
  --swui-field-border-color: #bbc1e1;
  --swui-field-border-color-hover: #275efe;
  --swui-field-border-color-disabled: var(--swui-separator-color);
  --swui-field-shadow-color: rgba(0, 0, 0, 0.15);
  --swui-field-box-size-large: 32px;
  --swui-field-box-size-medium: 24px;
  --swui-field-box-size-small: 16px;
  --swui-field-border-radius: 4px;
  --swui-field-icon-color: var(--swui-text-primary-color);
  --swui-field-icon-size: 13px;
  --swui-field-indicator-active-color: var(--swui-white);
  --swui-field-indicator-inactive-color: var(--swui-hidden);

  /* Borders */
  --swui-border-radius: 4px;

  /* Shadows */
  --swui-shadow-modal: rgba(0, 0, 0, 0.2) 0px 0px 10px 4px;
  --swui-shadow-popover: rgba(0, 0, 0, 0.2) 0px 0px 6px 4px;
  --swui-shadow-box: rgba(0, 0, 0, 0.15) 0 2px 4px 0;
  --swui-field-focus-shadow: inset 0px 0px 3pt 0pt rgba(0, 0, 100, 0.3);

  /* Metrics */
  --swui-metrics-indent: 8px;
  --swui-metrics-spacing: 8px;
  --swui-metrics-space: 8px;
}
