:root {
    /* Text colors */
  --swui-text-primary-color: #1b2e47;
  --swui-text-disabled-color: #b6b6b6;
  --swui-text-darkmode-primary-color: #bcbabd;
  --swui-text-darkmode-disabled-color: #dddddd;

  /* Generic colors */
  --swui-white: #fff;
  --swui-hidden: rgba(0, 0, 0, 0);
  --swui-primary-action-color: var(--lhds-color-blue-500);
  --swui-primary-action-color-active: var(--lhds-color-blue-800);
  --swui-primary-action-color-focus: var(--lhds-color-blue-700);
  --swui-primary-action-color-hover: var(--lhds-color-blue-600);
  --swui-primary-action-color-disabled: var(--lhds-color-ui-300);
  --swui-separator-color: #b1b1b1;
  --swui-handle-bg-enabled-color: var(--swui-white);
  --swui-handle-bg-disabled-color: #bebbc0;
  --swui-modal-border-color: #bebbc0;

  /* State colors */
  --swui-state-error-color: #d05353;
  --swui-state-error-light-color: #fff1f4;
  --swui-state-alert-color: #ffa400;
  --swui-state-alert-light-color: #fff8eb;
  --swui-state-success-color: #60bd2f;
  --swui-state-success-light-color: #94f78c;
  --swui-state-modified-color: var(--swui-primary-action-color);
  --swui-state-modified-light-color: #e2edf7;
  --swui-state-loading-color: #ced0d7;
  --swui-state-loading-light-color: #fafafb;

  /* Fonts */
  --swui-font-primary: "Open Sans", system-ui;
  --swui-font-buttons: var(--swui-font-primary);
  --swui-font-input: var(--swui-font-primary);
  --swui-font-size-inputs: 14px;
  --swui-font-weight-inputs: 400;

  /* Animation speeds */
  --swui-animation-time-fast: 0.1s;
  --swui-animation-time-medium: 0.25s;
  --swui-animation-time-slow: 0.5s;

  /* Form fields */
  --swui-field-text-color: #424551;
  --swui-field-text-color-disabled: #989cab;
  --swui-field-text-spacing: 6px;
  --swui-field-letter-spacing: -0.34px;
  --swui-field-text-line-height: 20px;
  --swui-field-bg-enabled: var(--swui-white);
  --swui-field-bg-disabled: #e8e4ea;
  --swui-field-border-color: #bbc1e1;
  --swui-field-border-color-hover: #275efe;
  --swui-field-border-color-disabled: var(--swui-separator-color);
  --swui-field-shadow-color: rgba(0, 0, 0, 0.15);
  --swui-field-box-size-large: 32px;
  --swui-field-box-size-medium: 24px;
  --swui-field-box-size-small: 16px;
  --swui-field-border-radius: 4px;
  --swui-field-icon-color: var(--swui-text-primary-color);
  --swui-field-icon-size: 13px;
  --swui-field-indicator-active-color: var(--swui-white);
  --swui-field-indicator-inactive-color: var(--swui-hidden);

  /* Borders */
  --swui-border-radius: 4px;

  /* Shadows */
  --swui-shadow-modal: rgba(0, 0, 0, 0.2) 0px 0px 10px 4px;
  --swui-shadow-popover: rgba(0, 0, 0, 0.2) 0px 0px 6px 4px;
  --swui-shadow-box: rgba(0, 0, 0, 0.15) 0 2px 4px 0;
  --swui-field-focus-shadow: inset 0px 0px 3pt 0pt rgba(0, 0, 100, 0.3);

  /* Metrics */
  --swui-metrics-indent: 8px;
  --swui-metrics-spacing: 8px;
  --swui-metrics-space: 8px;
}
