.overlay {
  --swui-modal-animation-time: var(--swui-animation-time-medium);
  --swui-modal-overlay-bg-color: var(--swui-overlay-bg-color);
  --swui-modal-content-bg-color: var(--swui-white);
  --swui-modal-width: 960px;
  --swui-modal-max-width: 100%;
  --swui-modal-header-border-color: var(--lhds-color-ui-300);
  --swui-modal-shadow: var(--swui-shadow-modal);
  --swui-modal-footer-shadow: var(--swui-shadow-modal);

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--swui-modal-overlay-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;

  &.afterOpen:not(.beforeClose) {
    animation: fadeIn var(--swui-modal-animation-time) forwards;
  }

  &.beforeClose {
    animation: fadeOut var(--swui-modal-animation-time) forwards;
  }

  @media print {
    background-color: rgba(255, 255, 255, 1);
  }

  .modal {
    max-width: 100%;
    outline: none;
    pointer-events: none;
    padding: calc(var(--swui-metrics-space) * 2);
    box-sizing: border-box;
    max-height: 100%;
    transform: translateY(-100%);

    @media (max-width: 768px) {
      padding: 0;
      width: 100%;
    }

    &.afterOpen:not(.beforeClose) {
      animation: slideIn var(--swui-modal-animation-time) forwards;
    }

    &.beforeClose {
      animation: slideOut var(--swui-modal-animation-time) forwards;
    }
  }

  .content {
    position: relative;
    display: block;
    background: var(--swui-modal-content-bg-color);
    box-shadow: var(--swui-modal-shadow);
    border-radius: var(--swui-border-radius-large);
    pointer-events: all;

    width: var(--swui-modal-width);
    max-width: var(--swui-modal-max-width);

    height: 100%;
    overflow: hidden;
    overflow-y: auto;

    @media (max-width: 768px) {
      border-radius: 0;
      width: 100%;
      max-width: 100%;
      min-height: 100vh;
    }

    @media (min-width: 769px) {
      /* This styling ensures border radius even with scroll bars. */
      border-radius: var(--swui-border-radius-large);

      &::-webkit-scrollbar-thumb {
        background-color: var(--lhds-color-ui-400);
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: padding-box;
      }

      &::-webkit-scrollbar {
        width: 16px;
      }
    }

    @media print {
      box-shadow: none;
      top: 0;
    }

    :focus {
      outline: 0;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.footer {
  background-color: var(--swui-modal-content-bg-color);
}

.stickyFooter {
  position: sticky;
  bottom: 0;
  box-shadow: var(--swui-modal-footer-shadow);

  @media print {
    position: static;
    box-shadow: none;
  }
}
