.overlay {
  --swui-modal-animation-time: var(--swui-animation-time-fast);
  --swui-modal-overlay-bg-color: var(--swui-overlay-bg-color);
  --swui-modal-padding: var(--swui-metrics-space);
  --swui-modal-content-bg-color: var(--swui-white);
  --swui-modal-width: 960px;
  --swui-modal-header-border-color: var(--lhds-color-ui-300);
  --swui-modal-shadow: var(--swui-shadow-modal);
  --swui-modal-footer-shadow: var(--swui-shadow-modal);

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--swui-modal-overlay-bg-color);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--swui-modal-padding);

  animation: fadeIn var(--swui-modal-animation-time)
    cubic-bezier(0.645, 0.045, 0.355, 1) both;

  @media print {
    background-color: rgba(255, 255, 255, 1);
  }

  .modal {
    max-width: 100%;
    outline: none;
    pointer-events: none;
  }

  .content {
    position: relative;
    display: block;
    background: var(--swui-modal-content-bg-color);
    box-shadow: var(--swui-modal-shadow);
    pointer-events: all;

    width: var(--swui-modal-width);
    max-width: 100%;

    animation: appear var(--swui-animation-time-fast)
      cubic-bezier(0.645, 0.045, 0.355, 1) both;

    @media print {
      box-shadow: none;
      top: 0;
    }

    :focus {
      outline: 0;
    }

    &.isDraggable {
      :global(.draggable-modal-handle) {
        cursor: move;

        :global(.draggable-modal-cancel),
        [role="tooltip"] {
          cursor: initial;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    background-color: var(--swui-hidden);
  }
  100% {
    background-color: var(--swui-modal-overlay-bg-color);
  }
}

@keyframes appear {
  0% {
    top: calc(0 - var(--swui-metrics-space));
    opacity: 0;
  }
  100% {
    top: var(--swui-metrics-space);
    opacity: 1;
  }
}

.footer {
  background-color: var(--swui-modal-content-bg-color);
}

.stickyFooter {
  position: sticky;
  bottom: calc(-1 * var(--swui-modal-padding));
  box-shadow: var(--swui-modal-footer-shadow);

  @media print {
    box-shadow: none;
  }
}
