.spinner {
  animation: rotator 2s linear infinite both;

  circle {
    stroke-linecap: round;
    transform-origin: center;
    fill: transparent;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 10px;
  }

  &.standard {
    stroke: var(--lhds-color-blue-600);

    circle {
      animation: dash 1.4s ease-in-out infinite both;
    }
  }

  &.inverted {
    stroke: var(--lhds-color-ui-300);

    circle {
      animation: dash 1.4s ease-in-out infinite both;
    }
  }

  &.customColor {
    circle {
      animation: dash 1.4s ease-in-out infinite both;
    }
  }

  &.medium {
    width: 54px;
    height: 54px;
  }

  &.small {
    width: 34px;
    height: 34px;
  }

  &.tiny {
    width: 20px;
    height: 20px;
  }
}

@keyframes dash {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
