.spinner {
  animation: rotator 1.4s linear infinite;

  circle {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    stroke-width: 6;
    stroke-linecap: round;
    transform-origin: center;
  }

  &.standard {
    stroke: var(--lhds-color-blue-500);
    circle {
      animation: dash 1.4s ease-in-out infinite;
    }
  }

  &.inverted {
    stroke: var(--lhds-color-ui-300);
    circle {
      animation: dash 1.4s ease-in-out infinite;
    }
  }

  &.customColor {
    circle {
      animation: dash 1.4s ease-in-out infinite;
    }
  }

  &.medium {
    width: 54px;
    height: 54px;
  }

  &.small {
    width: 34px;
    height: 34px;
  }

  &.tiny {
    width: 20px;
    height: 20px;
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      transform: rotate(450deg);
    }
  }

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }
}
