.banner {
  --current-bg-color: var(--lhds-color-ui-200);

  background: var(--current-bg-color);
  border-radius: var(--swui-border-radius);

  .iconBackground {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.standard {
    --current-bg-color: var(--lhds-color-ui-200);
  }

  &.info {
    --current-bg-color: var(--lhds-color-blue-100);
  }

  &.success {
    --current-bg-color: var(--lhds-color-green-100);
  }

  &.warning {
    --current-bg-color: var(--lhds-color-orange-100);
  }

  &.error {
    --current-bg-color: var(--lhds-color-red-100);
  }
}
