.banner {
  --current-bg-color: var(--lhds-color-ui-200);
  --current-icon-color: var(--lhds-color-ui-500);

  padding: calc(var(--swui-metrics-spacing) * 2) 0;
  padding-right: calc(var(--swui-metrics-indent) * 2);

  background: var(--current-bg-color);

  .icon {
    color: var(--current-icon-color);
  }

  &.standard {
    --current-bg-color: var(--lhds-color-ui-200);
    --current-icon-color: var(--lhds-color-ui-500);
  }

  &.info {
    --current-bg-color: var(--lhds-color-blue-50);
    --current-icon-color: var(--lhds-color-blue-600);
  }

  &.success {
    --current-bg-color: var(--lhds-color-green-50);
    --current-icon-color: var(--lhds-color-green-600);
  }

  &.warning {
    --current-bg-color: var(--lhds-color-orange-50);
    --current-icon-color: var(--lhds-color-orange-600);
  }

  &.error {
    --current-bg-color: var(--lhds-color-red-50);
    --current-icon-color: var(--lhds-color-red-500);
  }
}
