.modalDrawer {
  max-height: 100%;
  max-width: 100%;

  .contentWrapper {
    height: 100%;
  }

  &.left {
    margin: 0 auto 0 0;
    height: 100%;

    @media (max-width: 768px) {
      width: fit-content;
    }

    &[open] {
      animation: slideInLeft 0.25s forwards;
    }

    &.closing[open] {
      animation: slideOutLeft 0.25s forwards;
    }
  }

  &.right {
    margin: 0 0 0 auto;
    height: 100%;

    @media (max-width: 768px) {
      width: fit-content;
    }

    &[open] {
      animation: slideInRight 0.25s forwards;
    }

    &.closing[open] {
      animation: slideOutRight 0.25s forwards;
    }
  }

  &.top {
    margin: 0 0 auto 0;
    width: 100%;

    @media (max-width: 768px) {
      height: fit-content;
    }

    &[open] {
      animation: slideInTop 0.25s forwards;
    }

    &.closing[open] {
      animation: slideOutTop 0.25s forwards;
    }
  }

  &.bottom {
    margin: auto 0 0 0;
    width: 100%;

    @media (max-width: 768px) {
      height: fit-content;
    }

    &[open] {
      animation: slideInBottom 0.25s forwards;
    }

    &.closing[open] {
      animation: slideOutBottom 0.25s forwards;
    }
  }

  &[open] {
    opacity: 1;
    pointer-events: auto;
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
      opacity: 0;
    }
    to {
      transform: translateX(-100%);
      opacity: 1;
    }
  }

  @keyframes slideInTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideOutTop {
    from {
      transform: translateY(0);
      opacity: 0;
    }
    to {
      transform: translateY(-100%);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOutRight {
    from {
      transform: translateX(0);
      opacity: 0;
    }
    to {
      transform: translateX(100%);
      opacity: 1;
    }
  }

  @keyframes slideInBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideOutBottom {
    from {
      transform: translateY(0);
      opacity: 0;
    }
    to {
      transform: translateY(100%);
      opacity: 1;
    }
  }
}
