.chip {
  --swui-chip-line-height: 16px;
  --swui-chip-font-size: 12px;
  --swui-chip-letter-spacing: -0.2px;
  --swui-chip-height: 24px;
  --swui-chip-border-radius: var(--swui-border-radius);
  --swui-chip-shadow: var(--swui-border-radius);

  /* Border */
  --current-text-color: var(--swui-white);
  --current-icon-color: var(--swui-primary-action-color);
  --current-bg-color: var(--lhds-color-blue-50);
  --current-border-color: var(--swui-primary-action-color);

  /*
   * Styling
   */
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: var(--swui-chip-height);

  box-shadow: var(--swui-chip-shadow);
  border-radius: var(--swui-chip-border-radius);
  padding-left: var(--swui-metrics-space);
  padding-right: calc(var(--swui-metrics-space) / 2);
  background-color: var(--current-bg-color);
  border: 1px solid var(--current-border-color);

  &.primary {
    --current-border-color: var(--lhds-color-blue-500);
    --current-bg-color: var(--swui-primary-action-color);
    --current-icon-color: var(--swui-white);

    .label {
      --swui-link-color: var(--swui-white);
      --swui-link-color-hover: var(--swui-white);
      --swui-link-color-active: var(--swui-white);
      --swui-link-color-focus: var(--swui-white);
      --swui-link-color-disabled: var(--swui-white);
      --swui-link-focus-highlight-color: var(--swui-white);
    }

    .close {
      --swui-button-background-color-hover: var(
        --swui-primary-action-color-hover
      );
      --swui-button-background-color-focus: var(
        --swui-primary-action-color-focus
      );
      --swui-button-background-color-active: var(
        --swui-primary-action-color-active
      );

      &:focus {
        --swui-button-box-shadow-focus: 0 0 3px 1px var(--swui-white);
      }
    }
  }

  &.secondary {
    --current-border-color: var(--lhds-color-blue-300);
    --current-bg-color: var(--lhds-color-blue-50);
    --current-icon-color: var(--lhds-color-blue-800);

    .label {
      --swui-link-color: var(--lhds-color-blue-800);
      --swui-link-color-active: var(--lhds-color-blue-800);
      --swui-link-color-hover: var(--lhds-color-blue-800);
      --swui-link-color-focus: var(--lhds-color-blue-800);
      --swui-link-color-disabled: var(--lhds-color-blue-800);
      --swui-link-focus-highlight-color: var(--lhds-color-blue-800);
    }

    .close {
      --swui-button-background-color-active: var(--lhds-color-blue-400);
      --swui-button-background-color-focus: var(--lhds-color-blue-300);
      --swui-button-background-color-hover: var(--lhds-color-blue-200);

      &:focus {
        --swui-button-box-shadow-focus: 0 0 3px 1px var(--lhds-color-blue-800);
      }
    }
  }

  &.removable {
    padding-right: calc(var(--swui-metrics-space) / 2);
  }

  /*
   * Specifying the class twice gives the css rule more specificity which
   * makes it possible to override properties without having to use !important
   */

  .label.label {
    font-size: var(--swui-chip-font-size);
    letter-spacing: var(--swui-chip-letter-spacing);
    line-height: var(--swui-chip-line-height);
    padding-right: calc(var(--swui-metrics-space) / 2);
    --swui-link-text-decoration: none;
    --swui-link-focus-highlight-color-disabled: transparent;

    &.clickable {
      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .close.close {
    width: 16px;
    height: 16px;

    svg {
      color: var(--current-icon-color);
      margin-top: -1px;
      width: 10px;
      height: 10px;
    }
  }
}
