.banner {
  --current-bg-color: var(--lhds-color-ui-200);
  --current-icon-color: var(--lhds-color-ui-500);

  background: var(--current-bg-color);
  padding: calc(var(--swui-metrics-spacing) * 2)
    calc(var(--swui-metrics-indent) * 2);

  .icon {
    color: var(--current-icon-color);
  }

  &.standard {
    --current-bg-color: var(--lhds-color-ui-200);
    --current-icon-color: var(--lhds-color-ui-500);
  }

  &.info {
    --current-bg-color: var(--lhds-color-blue-50);
    --current-icon-color: var(--lhds-color-blue-500);
  }

  &.success {
    --current-bg-color: var(--lhds-color-green-50);
    --current-icon-color: var(--lhds-color-green-500);
  }

  &.warning {
    --current-bg-color: var(--lhds-color-orange-50);
    --current-icon-color: var(--lhds-color-orange-500);
  }

  &.error {
    --current-bg-color: var(--lhds-color-red-50);
    --current-icon-color: var(--lhds-color-red-500);
  }

  &.environmentWarning {
    padding: calc(var(--swui-metrics-spacing) / 2)
      calc(var(--swui-metrics-indent));
    border-radius: calc(var(--swui-metrics-spacing) / 2);
    border: 2px solid var(--lhds-color-red-300);
    color: var(--lhds-color-red-500);
    --current-bg-color: var(--lhds-color-red-50);
    --current-icon-color: var(--lhds-color-red-500);
  }
}
