.collapsible {
  --swui-collapsible-animation-time: var(--swui-animation-time-fast);

  --swui-collapsible-expanded-line-background-color: var(
    --swui-primary-action-color
  );

  /*
   * Header
   */
  --swui-collapsible-header-text-color: var(--lhds-color-ui-900);
  --swui-collapsible-header-background-color: var(--swui-white);
  --swui-collapsible-header-background-color-hover: var(--lhds-color-blue-100);
  --swui-collapsible-header-background-color-active: var(--lhds-color-blue-100);
  --swui-collapsible-header-border-color: var(--lhds-color-ui-300);
  --swui-collapsible-header-border-color-focus: var(
    --swui-primary-action-color
  );
  --swui-collapsible-header-focus-shadow: var(--swui-field-focus-shadow);
  --swui-collapsible-header-content-margin: calc(
    var(--swui-metrics-indent) * 2
  );
  --swui-collapsible-header-font-weight: var(--swui-font-weight-text-bold);
  --swui-collapsible-header-indicator-color: var(--swui-primary-action-color);
  --swui-collapsible-header-indicator-color-collapsed: var(--lhds-color-ui-500);
  --swui-collapsible-header-indicator-color-hover: var(
    --swui-primary-action-color
  );
  --swui-collapsible-header-padding: 0 calc(var(--swui-metrics-indent) * 2) 0;

  /*
   * Content
   */
  --swui-collapsible-content-background-color: var(--lhds-color-ui-100);
  --swui-collapsible-content-border-color: var(--lhds-color-ui-300);
  --swui-collapsible-content-padding: var(--swui-metrics-indent)
    calc(var(--swui-metrics-indent) * 2) var(--swui-metrics-indent)
    calc(var(--swui-metrics-indent) * 3);

  --swui-collapsible-groupheading-font-size: var(--swui-font-size-smaller);
  --swui-collapsible-groupheading-text-color: var(--lhds-color-ui-600);

  --swui-collapsible-min-height: 40px;

  /* Header */

  .header {
    background-color: var(--swui-collapsible-header-background-color);
    width: 100%;
    font-size: inherit;
    font-family: var(--swui-font-primary);
    font-weight: var(--swui-collapsible-header-font-weight);

    min-height: var(--swui-collapsible-min-height);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--swui-collapsible-header-border-color);
    padding: var(--swui-collapsible-header-padding);

    .indicator {
      transition: all var(--swui-collapsible-animation-time) ease-in-out;
      margin-left: var(--swui-collapsible-header-content-margin);
      color: var(--swui-collapsible-header-indicator-color);
    }

    &:not(:disabled):hover {
      &:not(:active) {
        background-color: var(--swui-collapsible-header-background-color-hover);

        .indicator {
          color: var(--swui-collapsible-header-indicator-color-hover);
        }
      }
    }

    &:focus {
      outline: 1px solid var(--swui-collapsible-header-border-color-focus);
      outline-offset: -1px;
      box-shadow: var(--swui-collapsible-header-focus-shadow);
    }

    &:active {
      background: var(--swui-collapsible-header-background-color-active);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    background: var(--swui-collapsible-expanded-line-background-color);
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &[aria-expanded="false"] {
    --swui-collapsible-expanded-line-background-color: transparent;
    .indicator {
      color: var(--swui-collapsible-header-indicator-color-collapsed);
    }
  }

  .label {
    margin-right: auto;

    span {
      font-weight: var(--swui-collapsible-header-font-weight);
    }
  }

  .contentLeft,
  .contentRight {
    display: flex;

    button {
      cursor: pointer;
    }
  }

  .contentLeft {
    margin-right: var(--swui-collapsible-header-content-margin);
  }

  .contentRight {
    margin-left: auto;
  }

  /* Content */

  .content {
    display: flex;
    align-items: center;
    justify-content: stretch;
    background: var(--swui-collapsible-content-background-color);
    padding: var(--swui-collapsible-content-padding);
    min-height: var(--swui-collapsible-min-height);
    box-sizing: border-box;

    &:last-child {
      border-bottom: 1px solid var(--swui-collapsible-content-border-color);
    }

    &.groupHeading {
      border: none;
      font-size: var(--swui-collapsible-groupheading-font-size);
      font-family: var(--swui-font-primary);
      color: var(--swui-collapsible-groupheading-text-color);
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;

      &:not(:first-child) {
        border-top: 1px solid var(--swui-collapsible-content-border-color);
      }
    }

    [data-hidden="true"] {
      display: none;
    }

    &:hover {
      [data-hidden="true"] {
        display: inherit;
      }

      [data-hover="true"] {
        color: var(--swui-collapsible-header-indicator-color-hover);
      }
    }
  }

  .contentEnter {
    opacity: 0;
  }

  .contentEnterActive {
    opacity: 1;
    transition: opacity var(--swui-collapsible-animation-time) ease-in-out;
  }

  .contentExitDone {
    display: none;
  }

  /** Clickable content */
  button.content {
    font-family: var(--swui-font-primary);
    font-size: inherit;
    width: 100%;

    &:focus {
      outline: 1px solid var(--swui-collapsible-header-border-color-focus);
      outline-offset: -1px;
      box-shadow: var(--swui-collapsible-header-focus-shadow);
    }

    &:not(:disabled):hover {
      background-color: var(--swui-collapsible-header-background-color-hover);
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:focus-within {
      [data-hidden="true"] {
        display: inherit;
      }
    }
  }

  /* Remove header background color if not at the highest level */
  & & {
    --swui-collapsible-header-background-color: var(
      --swui-collapsible-content-background-color
    );
    --swui-collapsible-header-font-weight: normal;
  }

  /* Increase padding with depth */

  & & {
    --swui-collapsible-header-padding: 0 calc(var(--swui-metrics-indent) * 2) 0
      calc(var(--swui-metrics-indent) * 3);
    --swui-collapsible-content-padding: var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 2) var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 5);
  }

  & & & {
    --swui-collapsible-header-padding: 0 calc(var(--swui-metrics-indent) * 2) 0
      calc(var(--swui-metrics-indent) * 4);
    --swui-collapsible-content-padding: var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 2) var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 6);
  }

  & & & & {
    --swui-collapsible-header-padding: 0 calc(var(--swui-metrics-indent) * 2) 0
      calc(var(--swui-metrics-indent) * 6);
    --swui-collapsible-content-padding: var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 2) var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 8);
  }

  & & & & & {
    --swui-collapsible-header-padding: 0 calc(var(--swui-metrics-indent) * 2) 0
      calc(var(--swui-metrics-indent) * 8);
    --swui-collapsible-content-padding: var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 2) var(--swui-metrics-indent)
      calc(var(--swui-metrics-indent) * 10);
  }
}
