.tag {
  /* Theme vars */
  --swui-tag-font-size: var(--swui-font-size-small);
  --swui-tag-line-height: var(--swui-line-height-small);
  --swui-tag-font-weight: 500;
  --swui-tag-font-family: var(--swui-font-primary);
  --swui-tag-letter-spacing: var(--swui-text-letter-spacing);
  --swui-tag-height-normal: 24px;
  --swui-tag-height-small: 16px;
  --swui-tag-border-radius: 10rem;
  --swui-tag-bg-color: var(--lhds-color-blue-100);
  --swui-tag-text-color: var(--lhds-color-blue-800);
  --swui-tag-indent: var(--swui-metrics-indent);
  --swui-tag-icon-size-normal: 16px;
  --swui-tag-icon-size-small: 12px;

  /* State vars */
  --current-text-color: var(--swui-tag-text-color);
  --current-bg-color: var(--swui-tag-bg-color);
  --current-height: var(--swui-tag-height-normal);
  --current-icon-size: var(--swui-tag-icon-size-normal);

  /* Styling */
  background-color: var(--current-bg-color);
  color: var(--current-text-color);
  font-family: var(--swui-tag-font-family);
  font-size: var(--swui-tag-font-size);
  font-weight: var(--swui-tag-font-weight);
  line-height: var(--swui-tag-line-height);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  border-radius: var(--swui-tag-border-radius);
  min-height: var(--current-height);
  align-items: center;
  padding: 0 var(--swui-tag-indent);

  .label {
    padding: 0 var(--swui-tag-indent);
  }

  .icon {
    font-size: var(--current-icon-size);
  }

  &.small {
    --current-height: var(--swui-tag-height-small);
    --current-icon-size: var(--swui-tag-icon-size-small);
  }

  &.error {
    --current-bg-color: var(--lhds-color-red-100);
    --current-text-color: var(--lhds-color-red-800);
  }

  &.warning {
    --current-bg-color: var(--lhds-color-orange-100);
    --current-text-color: var(--lhds-color-orange-900);
  }

  &.success {
    --current-bg-color: var(--lhds-color-green-100);
    --current-text-color: var(--lhds-color-green-900);
  }

  &.passive {
    --current-bg-color: var(--lhds-color-ui-300);
    --current-text-color: var(--lhds-color-ui-900);
  }
}
