.tag {
  /* Styling */
  font-family: var(--swui-font-primary);
  font-size: var(--swui-font-size-small);
  font-weight: 500;
  letter-spacing: var(--swui-text-letter-spacing);
  line-height: var(--swui-line-height-small);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  border-radius: var(--swui-border-radius-small);
  min-height: 24px;
  align-items: center;
  padding: 0 calc(var(--swui-metrics-indent) * 2);
  gap: var(--swui-metrics-indent);

  .icon {
    font-size: 1.6rem;
  }

  &.medium {
    &.withIcon {
      padding-left: var(--swui-metrics-indent);
    }
  }

  &.small {
    --current-height: 16px;
    --current-icon-size: 1.4rem;
    padding: 0 var(--swui-metrics-indent);
  }

  &.info {
    background-color: var(--lhds-color-blue-100);
    color: var(--black);
  }

  &.error {
    background-color: var(--lhds-color-red-100);
    color: var(--black);
  }

  &.warning {
    background-color: var(--lhds-color-orange-100);
    color: var(--black);
  }

  &.success {
    background-color: var(--lhds-color-green-100);
    color: var(--black);
  }

  &.passive {
    background-color: var(--silver-lighter);
    color: var(--black);
  }

  &.info-strong {
    background-color: var(--modern-blue);
    color: var(--moln);
  }

  &.error-strong {
    background-color: var(--lhds-color-red-500);
    color: var(--moln);
  }

  &.warning-strong {
    background-color: var(--lhds-color-orange-400);
    color: var(--black);
  }

  &.success-strong {
    background-color: var(--lhds-color-green-600);
    color: var(--moln);
  }
}
