name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prepare repository
        run: git fetch --unshallow --tags
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'
      - name: install, build and test
        run: |
          yarn install --frozen-lockfile

          yarn pre-build-check
          yarn build-packages
          yarn post-build-check
        env:
          CI: true
      - name: "Compressed Size"
        uses: preactjs/compressed-size-action@8a15fc9
        with:
          build-script: "-v" # Will execute `yarn run -v` (essentially a no-op)
          pattern: "packages/*/dist/*.js"
      - name: Create Release
        if: ${{ github.event_name == 'push' && github.ref_name == 'master' && !contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci') }}
        run: |
          yarn auto shipit
          rm $HOME/.npmrc || true
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          CI: true
