.heading {
  font-size: var(--swui-heading-font-size);
  color: var(--lhds-color-ui-900);
  letter-spacing: 0;
  margin: 0;
  line-height: var(--swui-heading-line-height);
  font-family: var(--swui-font-primary);
  font-weight: var(--swui-font-weight-text);

  &.h1 {
    --swui-heading-font-size: 2.8rem;
    --swui-heading-line-height: 4.0rem;
  }

  &.h2 {
    --swui-heading-font-size: 2.4rem;
    --swui-heading-line-height: 3.2rem;
  }

  &.h3 {
    --swui-heading-font-size: 2.0rem;
    --swui-heading-line-height: 2.4rem;
  }

  &.h4 {
    --swui-heading-font-size: 1.6rem;
    --swui-heading-line-height: 2.4rem;
    font-weight: var(--swui-font-weight-text-bold);
  }

  &.h5 {
    --swui-heading-font-size: 1.4rem;
    --swui-heading-line-height: 1.6rem;
    font-weight: var(--swui-font-weight-text-bold);
  }

  &.h6 {
    --swui-heading-font-size: 1.2rem;
    --swui-heading-line-height: 1.6rem;
    font-weight: var(--swui-font-weight-text-bold);
  }
}
