.toggleButton {
  --swui-toggle-button-height: 32px;

  --swui-toggle-button-background: var(--swui-white);
  --swui-toggle-button-background-selected: var(--lhds-color-blue-200);
  --swui-toggle-button-background-hover: var(--lhds-color-ui-200);
  --swui-toggle-button-background-focus: var(--lhds-color-blue-100);
  --swui-toggle-button-background-focus-selected: var(--lhds-color-blue-300);
  --swui-toggle-button-background-active: var(--lhds-color-blue-100);
  --swui-toggle-button-background-disabled: var(--lhds-color-ui-500);

  --swui-toggle-button-text-color: var(--black);
  --swui-toggle-button-text-color-disabled: var(--lhds-color-ui-50);

  /* State */

  --current-background: var(--swui-toggle-button-background);

  /* Styling */

  label {
    background: var(--current-background);
    border-radius: var(--swui-border-radius);
    cursor: pointer;
    height: var(--swui-toggle-button-height);
    min-width: var(--swui-toggle-button-height);
    padding: 0 calc(var(--swui-metrics-space) * 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: var(--swui-font-primary);
    font-weight: var(--swui-font-weight-text);
    font-size: var(--swui-font-size-medium);
    color: var(--swui-toggle-button-text-color);
    user-select: none;
  }

  input {
    position: absolute;
    left: -100vw;
  }

  input:focus-visible ~ label {
    --current-background: var(--swui-toggle-button-background-focus);
    outline: var(--swui-focus-outline);
  }

  &.selected {
    input:focus-visible ~ label {
      --current-background: var(--swui-toggle-button-background-focus-selected);
    }
  }

  &.disabled {
    label {
      color: var(--swui-toggle-button-text-color-disabled);
    }
  }

  &.small {
    --swui-toggle-button-height: 24px;
    label {
      font-size: var(--swui-font-size-small);
    }
  }

  &.medium {
    --swui-toggle-button-height: 32px;
  }

  &.large {
    --swui-toggle-button-height: 40px;
    padding: 0 var(--swui-metrics-space);
  }

  &:not(.disabled) {
    &:hover {
      --current-background: var(--swui-toggle-button-background-hover);
    }

    &:active {
      --current-background: var(--swui-toggle-button-background-active);
    }

    &.selected {
      --current-background: var(--swui-toggle-button-background-selected);
      z-index: 1;
    }
  }

  &.disabled {
    --current-background: var(--swui-toggle-button-background-disabled);
    cursor: not-allowed;
  }
}
